@import "./src/app/variables";

.header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
//input {
//  border: 1px solid grey;
//  font-size: 14px;
//  padding: 11px 12px;
//  line-height: 16px;
//  height: auto;
//  border-radius: 4px;
//  color: $grey;
//  width: 100%;
//}
// .form-container.mobile {
//   padding-top: 60px;
// }
.btn-color {
  background: $primary;
  color: $white;
}
.container-header {
  padding: 0 0 40px 0;
}

.mobile-nav-btn {
  width: 100%;
  position: fixed;
  background: #eeeeee;
  z-index: 1;
  padding: 8px;
}
.alert-success {
  color: #29ab45;
  background-color: #d7f8de;
  border-color: #40ff1e;
}
.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.response-div {
  padding-top: 5px;
}

.response-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.emoticon-container {
  width: 25px;
  text-align: right;
  position: absolute !important;
  right: 1%;
  top: 66%;
}
