<div class="suggestion-container box">
  <div class="com-suggestion">
    <h1>Suggested Communities.</h1>
    <div  *ngIf="suggestedCommunity?.length; else noSuggesttion" >
      <ul>
        <li *ngFor="let i of suggestedCommunity"  class="grid">
          <div class="community_image">
            <img [src]="i?.avatarDTO?.avatarLink" [alt]="i?.communityName" onerror="this.onerror=null;this.src='assets/default.jpg';">
          </div>
          <div [id]=i?.communityId>
            <a [href]="'/community/' + i?.slug">{{i?.communityName}}</a>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="loader">
      <div>
        <ul class="o-vertical-spacing o-vertical-spacing--l">
          <li  class="grid blog-post o-media">
            <div class="community_image o-media__figure">
              <span class="skeleton-box media-box"></span>
            </div>
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <span class="skeleton-box desc" style="width:90%;"></span>
              </div>
            </div>
          </li>
          <li  class="grid blog-post o-media">
            <div class="community_image o-media__figure">
              <span class="skeleton-box media-box"></span>
            </div>
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <span class="skeleton-box desc" style="width:90%;"></span>
              </div>
            </div>
          </li>
          <li  class="grid blog-post o-media">
            <div class="community_image o-media__figure">
              <span class="skeleton-box media-box"></span>
            </div>
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <span class="skeleton-box desc" style="width:90%;"></span>
              </div>
            </div>
          </li>
          <li  class="grid blog-post o-media">
            <div class="community_image o-media__figure">
              <span class="skeleton-box media-box"></span>
            </div>
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <span class="skeleton-box desc" style="width:90%;"></span>
              </div>
            </div>
          </li>
          <li  class="grid blog-post o-media">
            <div class="community_image o-media__figure">
              <span class="skeleton-box media-box"></span>
            </div>
            <div class="o-media__body">
              <div class="o-vertical-spacing">
                <span class="skeleton-box desc" style="width:90%;"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ng-template #noSuggesttion>
      <span>Explore the communities. No suggestions yet.</span>
    </ng-template>
  </div>
</div>
