<div class="community-slider-card" >
  <div (click)="routeToCommunity(community?.slug)">
    <img [src]="checkImageSrc(community?.avatarDTO?.avatarLink)" [alt]="community?.description" >
    <div class="details">
      <div>{{community?.communityName}}</div>
      <p>{{community?.description}}</p>
    </div>
  </div>
  <div class="action-btn">
    <button mat-button *ngIf="community?.communityMeta?.relationShipType ==='none'" (click)="followThisCommunty(community?.communityId)">Follow</button>
<!--    <button mat-button *ngIf="community?.communityMeta?.relationShipType ==='owned'" disabled>Owner</button>-->
    <button mat-button *ngIf="community?.communityMeta?.relationShipType==='followed'" style="background: green; color: #ffffff" (click)="unfollowThisCommunity(community?.communityId)">Following</button>
  </div>
</div>


