
.community-slider-card {
  border-radius: 10px;
  border: 1px solid #eeeeee;
  margin: 20px 3px 0;
  overflow: hidden;
  color: #000000 !important;
  background: #ffffff;
  box-shadow: 0 1px 2px -2px;
  cursor: pointer;
  //max-width: 170px;

  img {
    width: 100%;
    min-height: 100px;
    height: 100px !important;
    border-bottom: 1px solid #eeeeee;
  }

  .details {
    padding: 10px;
    text-align: center;

    div {
      font-weight: 900;
      font-size: 13px;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin: 0px;
      font-size: 11px;
    }
  }

  .action-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    // button {
    //   border-radius: 20px;
    //   border: 1px solid #eeeeee;
    //   margin-bottom: 20px;
    // }
  }
}
