<div class="community-slider-card">
  <div (click)="routeToCommunity(community?.slug)">
    <app-community-banner [avatar]="community?.avatarDTO" [optimise]="true" [alt]="community?.description">
    </app-community-banner>
    <div class="details">
      <div>{{community?.communityName}}</div>
      <p>{{community?.description}}</p>
    </div>
  </div>
  <div class="action-btn">
    <button mat-button *ngIf="relation ==='none'" (click)="followThisCommunty(community?.communityId)">Follow</button>
    <!--    <button mat-button *ngIf="community?.communityMeta?.relationShipType ==='owned'" disabled>Owner</button>-->
    <button mat-button *ngIf="relation==='followed'" style="background: green; color: #ffffff"
      (click)="unfollowThisCommunity(community?.communityId)">Following</button>
    <!--    <button mat-button *ngIf="community?.communityMeta?.relationShipType ==='none'" (click)="followThisCommunty(community?.communityId)">Follow</button>-->
    <!--    &lt;!&ndash;    <button mat-button *ngIf="community?.communityMeta?.relationShipType ==='owned'" disabled>Owner</button>&ndash;&gt;-->
    <!--    <button mat-button *ngIf="community?.communityMeta?.relationShipType==='followed'" style="background: green; color: #ffffff" (click)="unfollowThisCommunity(community?.communityId)">Following</button>-->
  </div>
</div>