<div class="template-container" [ngClass]="mobileView ? 'mobile': 'desktop'">
    <div class="header-wrapper">
        <div class="header" [ngClass]="mobileView ? 'mobile': 'desktop'">
            <div>Questnr FAQ -&nbsp;</div>
            <div>Community Privacy</div>
        </div>
    </div>
    <div class="template-desciption">Community Privacy features help you to add restrictions on community content.</div>
    <div class="template-content">
        <div>
            <title-separator>Public Community</title-separator>
            <faq-item [title]="'How will requests be handled?'">
                All the pending community join requests will be approved automatically.
            </faq-item>
            <faq-item [title]="'Who can view the content of the community?'">
                All the community members and community posts will be visible to the public.
            </faq-item>
            <faq-item [title]="'Which can users join the community and does it need the approval?'">
                Every Questnr user can join the community without admin's approval.
            </faq-item>
        </div>
        <div>
            <title-separator>Private Community</title-separator>
            <div class="title-separator" [ngClass]="mobileView ? 'mobile': 'desktop'"></div>
            <faq-item [title]="'How can requests be approved?'">
                All the requests has to be approved by the admin manually.
            </faq-item>
            <faq-item [title]="'Who can view the content of the community?'">
                Community members and community posts will be visible only to the joined community members.
            </faq-item>
            <faq-item [title]="'Eligible for the list of trending community?'">
                The community will not be displayed in the trending community section.
            </faq-item>
            <faq-item
                [title]="'What will happen when a user who is not a member opens the link of any community post?'">
                The private community post can not be opened using the link if the user is not a member of the
                community.
            </faq-item>
            <faq-item [title]="'Members of the community are visible to other users?'">
                Members of the community will not be displayed for those who are not community members.
            </faq-item>
        </div>
    </div>
</div>