@import "../variables";

:host {
  scroll-behavior: smooth;
}

.explore-wrap {
  display: flex;
  margin-top: 50px;
  aside {
    height: 100vh;
    top: 0;
    position: sticky;
  }
  .left-part {
    flex: 30%;
    max-width: 300px;
  }
  .right-part {
    padding: 20px 0px;
    flex: 30%;
    max-width: 300px;
  }
  .explore-section {
    flex: 60%;
    overflow: hidden;
    width: inherit;
    max-width: 800px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh + 1px);
    padding: 5px 20px;
    .suggestion-container {
      width: inherit;
    }
    .row {
      .col-lg-6 {
        margin: 4px 0;
        padding: 0 4px;
      }
    }
    .community_image {
      border-radius: 10px;
      width: 100%;
      transition: all 500ms;
      position: relative;
      overflow: hidden;
      .backdrop {
        position: absolute;
        bottom: 0;
        height: 40%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), #242a3a);
      }
      img {
        width: 100%;
        max-height: 150px;
        min-height: 150px;
        border-radius: 10px;
        transition: all 800ms;
      }
      .community_details {
        position: absolute;
        bottom: 0;
        margin: 10px;
        .flex {
          display: flex;
          .img-container {
            //background: $white;
            //padding: 2px;
            border-radius: 50%;
          }
          .owner-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            //padding: 2px;
            //background: $white;
            img {
              width: 100%;
              min-height: auto;
            }
          }
        }
        .commmunity_name {
          color: $white;
          padding-left: 10px;
          span {
            font-weight: 600;
            letter-spacing: 1px;
          }
          p {
            margin: 0;
            color: $gray;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
    mat-card {
      padding: 8px;
      margin: 0.2rem;
      mat-form-field {
        width: 100%;
        padding: 0rem 0.2rem;
        margin-bottom: -20px;
        .mat-form-field-underline {
          display: none;
        }
        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }
  }
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $heading;
  }
  .mat-input-element {
    caret-color: $heading;
  }
  .mat-chip.mat-standard-chip {
    background: $hash-tag-background;
  }
  .mat-chip-list-wrapper .mat-standard-chip {
    margin: 6px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0rem 0.1rem;
    background-color: $white;
  }
  // .mat-form-field-label {
  //   color: $primary;
  // }

  .mat-focused .mat-form-field-label {
    color: $heading;
  }
}

//.community_image:hover{
//  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//}

.hashtags-container {
  //background: $white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;

  .hashtags {
    font-size: 16px;
    font-weight: 500;
    color: $primary;
  }
  mat-chip {
    display: inline-flex;
    align-items: center;
    margin: 6px;
    font-style: italic;
    font-size: 15px;
    font-family: sans-serif;
    //border: 1px solid aliceblue;
    padding: 4px 16px;
    border-radius: 20px;
  }
}
mat-chip:hover {
  color: $black;
}
.mat-chip-list-wrapper {
  display: inline-flex !important;
}

.community_image:hover .community_avatar {
  transform: scale(1.05);
}

.container.mobile {
  padding: 0 !important;
}
.queryString,
.active_tag {
  font-style: italic;
  color: $hash-tag;
  font-weight: 400;
}
.active_tag {
  background: $primary !important;
  color: $white !important;
}

.searched-hash-tag-list {
  mat-icon {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 3px;
  }
}

.searched-hash-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: $primary;
  color: white;
  font-size: 16px;
  // padding: 12px 24px;
  width: 110%;
  height: 130%;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  z-index: 100;
  opacity: 0.2;
}

.filter-wrapper,
.keyword-wrapper {
  display: flex;
  justify-content: center;
}
.filter-wrapper {
  margin-top: 10px;
  // height: 30vh;
  position: relative;
}
.keyword-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.filter-select {
  width: 100%;
  //   list-style: none;
  font-size: 1.1em;
  color: $gray-font;
  border: 1px solid $heading;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  //   left: 25%;
  //   top: calc(50% + 25px);
  top: 0;
  overflow-y: auto;
  background: $white;
  opacity: 0.9;
  z-index: 100;
}

.filter-select-wrapper {
  position: relative;
}

.filter-select.desktop {
  // height: 60%;
  // max-height: 300px;
}

.filter-select.mobile {
  // height: 60%;
  // max-height: 230px;
}

.filter-select-list {
  cursor: pointer;
  padding: 8px 15px;
}
.user-interest {
  font-size: 1.1rem;
  display: inline-block;
  //   position: absolute;
}
.filter-select-list:hover {
  background: $primary;
  color: $white;
}
