@import "../variables";

.user-community-wrapper {
  .link-card {
    background: $white;
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;

    // .link {
    //   font-weight: 500;
    //   &:hover {
    //     text-decoration: none;
    //     color: $primary;
    //   }
    // }
  }
  .links {
    display: flex;
    align-items: center;
    margin: 15px 10px;
  }
  .header {
    font-size: 16px;
    font-weight: 500;
    color: $heading;
    display: flex;
    justify-content: space-between;
  }
  .list-item {
    display: flex;
    align-items: center;
  }
  .community-counts {
    font-size: 0.8rem;
  }
}

.user-owned-community.mobile {
  margin: 20px 0;
  position: relative;
  .create-btn {
    position: absolute;
    right: 1%;
    top: 0;
    display: flex;
    align-items: center;
    mat-icon {
      margin: 0 4px;
    }
  }
  .action-btn {
    text-align: center;
    button {
      background: $white;
      color: $black;
      padding: 0 4px;
    }
  }
  .card-loader {
    .col {
      padding: 4px;
    }
  }
}

.grid {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.blog-post {
  &__headline {
    font-size: 1.25em;
    font-weight: bold;
  }

  &__meta {
    font-size: 0.85em;
    color: #6b6b6b;
  }
}
.o-media {
  display: flex;

  &__body {
    flex-grow: 1;
    margin-top: 5px;
  }
}

.desc {
  width: 90%;
}

.media-box {
  width: 35px;
  height: 35px;
}

/*shimmer for community*/
.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 10px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
