<div *ngIf="mobileView">
  <div class="user-owned-community">
    <div>
      <h5>Your Communities
        <div class="mobile-create-btn">
          <mat-icon (click)="createCommunity()" *ngIf="relation==='owned' ">add_circle_outline
          </mat-icon>
          <mat-icon (click)="openCommunityDialog(ownedCommunity)" *ngIf="ownedCommunity?.length > 3">arrow_forward
          </mat-icon>
        </div>
      </h5>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let list of ownedCommunity;let i=index">
          <ng-template carouselSlide [id]="list.i">
            <app-community-card-mobile-view [community]="list"></app-community-card-mobile-view>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <!--loader-->
    <div class="row card-loader" *ngIf="loader">
      <div class="col">
        <app-community-card-loader></app-community-card-loader>
      </div>
      <div class="col">
        <app-community-card-loader></app-community-card-loader>
      </div>
    </div>
    <!--loader ends-->
  </div>
</div>

<div class="link-card box" *ngIf="!mobileView">
  <h3>Your Communities</h3>
  <div *ngIf="ownedCommunity?.length; else noCommunity">
    <div *ngIf="!loader">
      <ng-container *ngIf="ownedCommunity?.length">
        <div class="links" *ngFor="let item of ownedCommunity">
          <app-profile-icon [avatarLink]="item.avatarDTO.avatarLink" [height]="35"
            [routerLink]="['/', communityPath, item.slug]">
          </app-profile-icon>
          <a class="link" [routerLink]="['/', communityPath, item.slug]">{{item.communityName}}</a>
        </div>
      </ng-container>
      <div class="row">
        <div class="col">
          <app-view-more-button (click)="openCommunityDialog(ownedCommunity)">
          </app-view-more-button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loader">
    <div class="o-vertical-spacing o-vertical-spacing--l">
      <div class="grid blog-post o-media">
        <div class="community_image o-media__figure">
          <span class="skeleton-box media-box"></span>
        </div>
        <div class="o-media__body">
          <div class="o-vertical-spacing">
            <span class="skeleton-box desc" style="width:90%;"></span>
          </div>
        </div>
      </div>
      <div class="grid blog-post o-media">
        <div class="community_image o-media__figure">
          <span class="skeleton-box media-box"></span>
        </div>
        <div class="o-media__body">
          <div class="o-vertical-spacing">
            <span class="skeleton-box desc" style="width:90%;"></span>
          </div>
        </div>
      </div>
      <div class="grid blog-post o-media">
        <div class="community_image o-media__figure">
          <span class="skeleton-box media-box"></span>
        </div>
        <div class="o-media__body">
          <div class="o-vertical-spacing">
            <span class="skeleton-box desc" style="width:90%;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCommunity>
    <div *ngIf="!loader">
      <span>No Communities created yet.</span>
    </div>
  </ng-template>
</div>
