@import "../variables";
.iframely-frame{
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0rem 3rem;
    background-color: $background-secondary;
    border-radius: 0.3rem;
    cursor: pointer;
    .thumbnail{
      width: 100%;
      justify-content: center;
      padding: 0.3rem;
      .thumbnail-img{
        width: 90%;
        height: auto;
        border-radius: 0.2rem;
      }
    }
    .text-part{
      padding: 0.3rem;
      .title, .link{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      .description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        color: rgb(58, 58, 58, 0.5);
      }
      .link{
        color: $link-primary;
      }
    }
  }