@import "../variables";

.faq-wrapper {
    // margin: 0.5rem 0rem;
    background: $white;
    .faq-container {
        border-radius: 5px;
        padding: 10px;
        margin-top: 60px;
        min-height: calc(100vh - 70px);
    }
}
.faq-wrapper.desktop {
    width: 70%;
}
.faq-wrapper.mobile {
    width: 100%;
}

.template-container {
    .template-desciption {
        color: $secondary-font-color;
        padding: 10px 0px;
        font-weight: 400;
    }
}

.template-content {
}

.template-content.mobile {
    margin-top: 20px;
}

.template-content.desktop {
    width: 60%;
    margin-top: 30px;
}

.template-container.desktop {
    margin: 10px 40px;
}

.template-container.mobile {
    margin: 10px 10px;
}
