@import "../variables";

.faq-wrapper {
    margin: 0.5rem 0rem;
    .faq-container {
        background: $white;
        border-radius: 5px;
        padding: 10px;
        margin-top: 60px;
        height: 100vh;
    }
    .faq-container.desktop {
        width: 70%;
    }
    .faq-container.mobile {
        width: 100%;
    }
    .faq-loader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .loader-text {
            color: $heading;
            font-family: Optima;
        }
    }
    .faq-loader.mobile {
        .loader-text {
            font-size: 1.8rem;
        }
    }
    .faq-loader.desktop {
        .loader-text {
            font-size: 2rem;
        }
    }
}

.template-container {
    .header-wrapper {
        .header {
            color: $heading;
            font-weight: bold;
            border-bottom: 2px solid $gray;
            padding-bottom: 10px;
        }
        .header.desktop {
            font-size: 1.6rem;
            display: inline-flex;
        }
        .header.mobile {
            font-size: 1.4rem;
            display: block;
        }
    }
    .template-desciption {
        color: $secondary-font-color;
        padding: 10px 0px;
        font-weight: 400;
    }
}

.template-content {
}

.template-content.mobile {
    margin-top: 20px;
}

.template-content.desktop {
    margin-top: 30px;
}

.template-container.desktop {
    margin: 10px 100px;
}

.template-container.mobile {
    margin: 10px 10px;
}
