@import "../../variables";

.no-community-wrapper {
    color: $gray-font-secondary;
}

.no-community-wrapper.mobile {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.no-community-wrapper.desktop {
    margin: 20px;
    font-size: 0.9rem;
}
