@import "../variables";
.toolbar {
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 150px);
}

@media only screen and (max-width : $mobile-large) and (min-width: $mobile-small){
  .toolbar{
    width: calc(100% - 20px);
  }
  .btn-white {
    //width: 70px;
    min-width: 87px !important;
    height: 28px;
    line-height: 25px !important;
    font-size: 12px !important;
    margin-left: 25px;
    margin-right:8px !important;
  }
  .btn-color{
    font-size: 12px !important;
    //width: 140px !important;
    min-width: auto !important;
  }
}

#extended-nav {
  //padding: 0 30px;
  border-top: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  height: 54px;
  background: #ffffff;
}
.nav-main-container {
  position: fixed;
  top: 10px;
  left: 0;
  height: 45px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.nav-main-container {
  opacity: 1;
  transform: translateY(-10px);
}

.nav-main__content {
  max-width: 1128px;
  margin: auto;
}
.float-right {
  float: right;
}



.btn-white {
  border: 1px solid #cdcdcd !important;
  width: auto;
  min-width: 112px;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
}


.btn-color {
  height: 32px ;
  line-height: 32px;
  width: auto;
  min-width: 112px;
  background: rgb(255, 46, 82) !important;
  color: #ffffff !important;
}
