.toolbar {
  height: inherit;
  display: flex;
  align-items: center;
  //margin-top: auto;
  //margin-bottom: auto;
  width: calc(100% - 50px);
}

#extended-nav {
  padding: 0 30px;
  //background: #283e4a;
  border-top: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  height: 54px;
  background: #ffffff;
}
.nav-main-container {
  position: fixed;
  top: 10px;
  left: 0;
  height: 45px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.nav-main-container {
  opacity: 1;
  transform: translateY(-10px);
}

.nav-main__content {
  max-width: 1128px;
  margin: auto;
}
.float-right {
  float: right;
}

