<!--header-->

<header id="extended-nav" class="nav-main-container">
  <div class="toolbar" role="banner">
    <div class="logo" routerLink="/">Questnr<span class="com">.com</span></div>
    <div class="spacer"></div>
    <ng-container *ngIf="!loginService.loggedIn()">
      <button mat-button class="btn-white" (click)="onClick('login')">
        {{'button.login' | translate}}
      </button>
      <button mat-button class="btn-color" (click)="onClick('signup')">
        {{'button.joinNow' | translate}}
      </button>
    </ng-container>
    <ng-container *ngIf="loginService.loggedIn()">
      <!--<<<<<<< HEAD-->
      <!--      <button mat-button class="btn-white" (click)="signOut()">-->
      <!--        {{'button.signOut' | translate}}-->
      <!--=======-->
      <button mat-button class="btn-white" routerLink="/feeds">
        Go to Feeds
      </button>
    </ng-container>

  </div>
</header>