<form [formGroup]="group">

  <div class="alert alert-danger" *ngIf="errMsg"> <strong>Error! </strong> {{errMsg }}</div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input type="text" matInput [formControl]="email" placeholder="Enter your Email/Username">
    <mat-error *ngIf="email.hasError('pattern')">Email is invalid.</mat-error>
    <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>vpn_key</mat-icon>
    <input type="password" matInput [formControl]="password" placeholder="Enter your Password">
    <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
  </mat-form-field>
  <a href="" class="forgot">Forgot your Password?</a>
  <button mat-button class="btn-color" (click)="login()"> Login </button>
</form>

<p class="or">OR</p>
<div class="social-logins">
  <button mat-button (click)="googleLogin()">
    <img src="assets/google.png" alt="Google">
    <span class="text">Continue with Google </span>
  </button>
  <button mat-button (click)="facebookLogin()">
    <img src="assets/facebook.png" alt="Facebook">
    <span class="text">Continue with Facebook</span>
  </button>
</div>
