<div class="wrapper">
    <div class="title">{{title}}</div>
    <div class="extra-info">
        <div *ngIf="confirmDialogContentType == ConfirmDialogContentType.makePublicCommunity">
            <ul>
                <li>All the pending community join requests will be approved automatically.</li>
                <li>All the community members and community posts will be visible to the public.</li>
                <li>Any Questnr user will be able to join the community without admin's approval.</li>
            </ul>
            <!-- <know-more-link (knowMoreType)="knowMoreTypeClass.communityPrivacy"></know-more-link> -->
        </div>
        <div *ngIf="confirmDialogContentType == ConfirmDialogContentType.makePrivateCommunity">
            <ul>
                <li>All the requests has to be approved by the admin manually.</li>
                <li>Community members and community posts will be visible only to the joined community members.</li>
                <li>The community will not be displayed in the trending community section.</li>
            </ul>
            <!-- <know-more-link (knowMoreType)="knowMoreTypeClass.communityPrivacy"></know-more-link> -->
        </div>
    </div>
    <div class="row action-btn-list">
        <div class="col-md-6 action-btn">
            <button class="active" (click)="action(true)" (mousedown)="mousedown(true)"
                #agreeTextBtn>{{agreeText}}</button>
        </div>
        <div class="col-md-6 action-btn">
            <button (click)="action(false)" (mousedown)="mousedown(false)" #disagreeTextBtn>{{disagreeText}}</button>
        </div>
    </div>
</div>