<mat-card class="user_activity" [ngClass]="{'user_activity-mobile' : mobileView}">
  <div class="">
    <ul>
      <li>
        <div (click)="getFollowedBy()">
          <h3>{{userInfo?.followers}}</h3>
          <p>Followers</p>
        </div>
      </li>
      <li>
        <div (click)="getFollowingUser()">
          <h3>{{userInfo?.followingTo}}</h3>
          <p>Following</p>
        </div>
      </li>
      <li>
        <div (click)="scrollTo()">
          <h3>{{userInfo?.posts}}</h3>
          <p>Total Posts</p>
        </div>
      </li>
    </ul>

  </div>
</mat-card>
