@import "../variables";

.user_activity{
  width: 100%;
  position: relative;
  top: -50px;
  padding: 8px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
    width: calc(15% - 10px);
    text-align: center;
    font-family: sans-serif;
    transition: all 200ms;
    cursor: pointer;
    h3{
      color: $heading;
    }
    p{
      margin: 0;
    }
  }
}

.user_activity ul li:hover{
  transform: scale(1.5);
}

/* mobile responsive css */

.user_activity-mobile {
  top: -25px;
  ul {
    text-align: center;
    li{
      width: calc(50% - 10px);
      font-size: 14px;
    }
  }
}
