<mat-card class="user_activity" [ngClass]="{'user_activity-mobile' : mobileView}">
  <div class="">
    <ul>
      <li>
        <div >
          <h3 (click)="openUserGroupDialog(userId, 'followers')">{{userInfo?.followers}}</h3>
          <p>Followers</p>
        </div>
      </li>
      <li>
        <div >
          <h3 (click)="openUserGroupDialog(userId, 'following')">{{userInfo?.followingTo}}</h3>
          <p>Following</p>
        </div>
      </li>
      <li>
        <div >
          <h3 (click)="scrollTo()">{{userInfo?.posts}}</h3>
          <p>Total Posts</p>
        </div>
      </li>
    </ul>

  </div>
</mat-card>
