<!--header-->

<header id="extended-nav" class="nav-main-container">
  <div class="toolbar" role="banner">
    <div style="width: 32px; height: 32px; margin: auto 8px;" class="mobile_logo" (click)="goToLink('/' + routerLink.feedPath)">
      <img src="/assets/logo.png" alt="logo" style="width: 100%">
    </div>
<!--    <button class="toggle" mat-button (click)="toggleMenu()">-->
<!--&lt;!&ndash;      <mat-icon>menu</mat-icon>&ndash;&gt;-->
<!--      -->
<!--    </button>-->
    <div class="logo" (click)="goToLink('/' + routerLink.feedPath)" ><img src="../../assets/main.png" /></div>
    <div class="spacer"></div>

    <div class="search-wrapper">
      <input type="text" placeholder="Type here to search..." [formControl]="searchInput" #searchInputRef>
      <mat-icon class="search-icon" (click)="searchEntity()">search</mat-icon>
      <div class="suggestions" #suggestionBoxRef>
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" style="height: 2px"></mat-progress-bar>
        <div class="search-menu row">
          <div class="search-option-list row col-md-11">
            <div *ngFor="let item of filterSearchOptionList;let indexOfelement=index;" class="search-option col-md-3"
              (click)="selectSearchOption(indexOfelement)"
              [ngClass]="{'selected': indexOfelement==selectedSearchOption}">
              <app-dot [radius]="7"></app-dot><span>{{item}}</span>
            </div>
          </div>
          <mat-icon class="close-icon col-md-1" (click)="closeSearchBox()">close</mat-icon>
        </div>
        <div *ngIf="selectedSearchOption==0">
          <button class="w-100" mat-button *ngFor="let user of users" (click)="handleRouterLink(user?.slug)">
            <app-horizontal-profile
              [avatarLink]="user?.avatarDTO?.avatarLink ? user?.avatarDTO?.avatarLink : 'assets/default.jpg'"
              [head]="user?.username" [subhead]="user?.firstName+' '+user?.lastName">
            </app-horizontal-profile>
          </button>
        </div>
        <div *ngIf="selectedSearchOption==1">
          <button class="w-100" mat-button *ngFor="let community of communities"
            (click)="handleRouterLink(community?.slug)">
            <app-horizontal-profile
              [avatarLink]="community?.avatarDTO?.avatarLink ? community?.avatarDTO?.avatarLink : 'assets/default.jpg'"
              [head]="community?.communityName" [subhead]="community?.ownerUserDTO?.username">
            </app-horizontal-profile>
          </button>
        </div>
        <div *ngIf="selectedSearchOption==2">
          <button class="w-100" mat-button *ngFor="let hashTag of hashtags"
            (click)="handleRouterLink(hashTag)">{{hashTag.hashTagValue}}</button>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <button mat-button class="d-none d-sm-block d-md-block d-lg-block h-100" [matMenuTriggerFor]="notificationsMenu" [style.color]="notificationColor"
      (click)="readNewNotification()">
      <mat-icon *ngIf="!hasNewNotifications">notifications</mat-icon>

      <mat-icon *ngIf="hasNewNotifications">notifications_active</mat-icon>
    </button>

    <!-- notifications_active, notifications_none -->
    <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false" xPosition="before">
      <ng-template matMenuContent>
        <div class="notification-wrap">
          <div *ngIf="notifications?.length > 0">
            <app-notification-item *ngFor="let item of notifications" [notification]="item"
              (remove)="removeNotification($event)"></app-notification-item>
          </div>
          <div *ngIf="notifications?.length == 0" class="no-notification">
            (0) Notifications
          </div>
          <button *ngIf="notifications?.length > 0 && !endOfNotifications" mat-button class="w-100"
            (click)="getNotification(); $event.stopPropagation();"> Load more</button>
          <p *ngIf="endOfNotifications" style="justify-content: center;display: flex;cursor: pointer;">
            No more Notifications
          </p>
        </div>
      </ng-template>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" [style.color]="notificationColor" class="mobile_view"
            (click)="readNewNotification()">
      <mat-icon *ngIf="!hasNewNotifications">notifications</mat-icon>

      <mat-icon *ngIf="hasNewNotifications">notifications_active</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" class="d-none d-sm-block d-md-block d-lg-block profile-btn">
      <div>
        <div class="icon">
          <img [src]="auth.profileImg" />
        </div>
        <span class="user_name">{{profile?.sub}}</span>
      </div>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile_view">
      <div class="icon" >
        <img [src]="auth.profileImg" />
      </div>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="info">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #info="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item (click)="goToLink(routerLink.termsPath)">Terms & Conditions</button>
      <button mat-menu-item (click)="goToLink(routerLink.policyPath)">Privacy Policy</button>
<!--      <button mat-menu-item>FAQ</button>-->
    </mat-menu>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item [routerLink]="'/user/'+ userDetail?.slug">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
<!--      <button mat-menu-item [matMenuTriggerFor]="settings">-->
<!--        <mat-icon>settings</mat-icon>-->
<!--        <span>Settings</span>-->
<!--      </button>-->
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item [routerLink]="'/user/'+ userDetail?.slug">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
<!--      <button mat-menu-item [matMenuTriggerFor]="settings">-->
<!--        <mat-icon>settings</mat-icon>-->
<!--        <span>Settings</span>-->
<!--      </button>-->
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
    <mat-menu #settings="matMenu">
      <button mat-menu-item>Terms & Conditions</button>
      <button mat-menu-item>Privacy Policy</button>
      <button mat-menu-item>FAQ</button>
    </mat-menu>
  </div>
</header>
