<div class="link-card box" [ngClass]="{'flex-mobile' : mobileView}">
  <div class="links">
    <app-profile-icon [avatarLink]="user?.avatarDTO?.avatarLink" [height]="35"
      [routerLink]="['/', userPath, user.slug]">
    </app-profile-icon>
    <div class="link"><a [routerLink]="['/', userPath, user.slug]">{{user.username}}</a></div>
  </div>
  <!-- <div class="action-button col-md-5" *ngIf="relation !== 'owned'">
    <button (click)="follow()" *ngIf="relation === 'none' && !mobileView" class="none">
      Follow
    </button>
    <button (click)="unfollow()" *ngIf="relation === 'followed' && !mobileView" class="following">
      Following
    </button>
  </div> -->
</div>