@import "../../variables";

.user-list-view-wrapper {
  background: $white;
  // height: 80px;
  border-radius: 6px;
  border: 1px solid $gray-border;
  .user-wrapper {
    display: flex;
    align-items: center;
    .user-container {
      display: flex;
      align-items: center;
      margin: 5px 0;
      padding: 8px;
      width: 100%;
      .profile-icon-container {
        flex: 20%;
      }
      .username-container {
        flex: 60%;
        .username {
          margin: 0 !important;
          a {
            text-decoration: none;
          }
          a:hover {
            color: $primary;
          }
        }
      }
      .action-button-container {
        flex: 20%;
      }
    }
    .special-action-container {
    }
    .special-action-container.show {
      display: block;
      animation: slide-left 300ms forwards;
    }
    .special-action-container.hide {
      display: none;
    }
  }
}
.user-list-view-wrapper.mobile {
  height: auto;
  .user-container {
    margin: auto;
    div {
      height: auto;
      .username {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

.relation-btn {
  padding: 0px;
  min-width: 120px;
  width: fit-content;
  width: -moz-fit-content;
  float: right;
  display: inline-flex;
  button {
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid $gray;
    background-color: $white;
    padding: 2px;
    width: 100%;
  }
  button:hover {
    border: 1px solid $primary;
    font-size: 0.85rem;
    padding: 3px;
  }
}
.align-right {
  text-align: right;
}
.invite-btn {
  font-weight: bold;
}
.decline {
  margin-right: 4px;
}
.request-btn mat-icon {
  width: 10px !important;
  height: 10px !important;
  font-size: 10px;
}
.relation-btn .request-btn:hover {
  border: 1px solid $gray !important;
  font-size: 0.8rem !important;
}
