<div>
    <ul style="color: #ffffff" class="social">
        <li>
            <a [href]="facebookLink" target="_blank"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li>
            <a [href]="twitterLink" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a [href]="instagramLink" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a [href]="linkedInLink" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
    </ul>
</div>