@import '../../variables';
.social {
    float: right;
    margin-right: 40px !important;
    margin: 0px;
    font-size: 1rem;
}
.primary{
    color: $white;
}
.seconday{
    color: $black;
}
ul {
    padding: 0;
    list-style: none !important;
    li {
        float: left;
        margin: 0 8px;
        cursor: pointer;
    }
}