.social {
    color: #ffffff;
    float: right;
    margin-right: 40px !important;
    margin: 0px;
    font-size: 1rem;
}
ul {
    padding: 0;
    list-style: none !important;
    li {
        float: left;
        margin: 0 8px;
        cursor: pointer;
        color: #ffffff;
    }
}