@import "../../../variables";

.dot {
    height: 5px;
    width: 5px;
    background-color: $white;
    border: 0.1rem solid $primary;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    height: 5px;
    width: 5px;
    background-color: $primary;
    border: 0.1rem solid $white;
    border-radius: 50%;
    display: inline-block;
}