<StackLayout>
  <Label text="FaqSearchInputComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="search-input-wrapper" [ngClass]="mobileView ? 'mobile' : 'desktop'">
    <div class="input-container">
        <input type="text" matInput [formControl]="searchFAQControl"
            (keyup.enter)="handleSearchFAQ(searchFAQControl.value)" placeholder="{{placeholder}}" />
        <span *ngIf="!mobileView && searchFAQControl.value?.length > 0">Search your question here</span>
    </div>
    <div class="close-icon" *ngIf="mobileView">
        <mat-icon (click)="handleClose()">close</mat-icon>
    </div>
</div>
-->