.Heading{
  padding: 10px 20px 0;
}
.description{
  padding: 10px 20px;
}
hr{
  margin: 8px 0;
}

.desc_container{
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
}
