<button mat-stroked-button (click)="follow()" *ngIf="relation === 'none' && !mobileView" class="none"
    [ngClass]='{"medium": size === "medium", "small": size === "small", "large": size === "large"}'>
    <span class="button-content">
        Follow
    </span>
</button>
<button mat-stroked-button (click)="follow()" *ngIf="relation === 'none' && mobileView" class="none">
    <mat-icon>person_add</mat-icon>
</button>
<button mat-stroked-button (click)="unfollow()" *ngIf="relation === 'followed' && !mobileView" class="following"
    [ngClass]='{"medium": size === "medium", "small": size === "small", "large": size === "large"}'>
    <span class="button-content">
        Following
    </span>
</button>
<button mat-stroked-button (click)="unfollow()" *ngIf="relation === 'followed' && mobileView" class="following">
    <mat-icon>check</mat-icon>
</button>