@import "../variables";

button {
    background: transparent;
    border: none;
    top: 6px;
    //right: -10px;
    cursor: pointer;
}
.small {
    mat-icon {
        font-size: 9px;
    }
    font-size: 9px;
}
.medium {
    mat-icon {
        font-size: 12px;
    }
    font-size: 12px;
}
.large {
    mat-icon {
        font-size: 21px;
    }
}
.button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.none {
    background-color: $white;
    color: $primary;
}
.following {
    background-color: $primary;
    color: $white;
}
.none:hover {
    border: 1px solid $gray;
}
