@import "../variables";

:host {
    display: block;
    overflow: hidden;
    max-width: 100%;
    /* remove blue border ring */
    &:active {
        outline: 0 !important;
    }
    &:focus {
        outline: 0 !important;
    }
}

.no-a {
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flow-root;
    -webkit-line-clamp: 1;
    max-width: 100%;
}

.no-a.hover-class {
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}
