<div class="com-members-container box" *ngIf="userListType === 'list'">
  <div class="title">
    <div>Members</div>
    <div class="noOfMembers">
      <div style="line-height: 26px" *ngIf="numberOfMembers">
        &nbsp;{{numberOfMembers}} &nbsp;
      </div>
      <div>
        <mat-icon [matBadge]="pendingRequests" *ngIf="pendingRequests!==0" matBadgeColor="warn"
          (click)="openUserGroupDialog('requests')" style="cursor: pointer">
          group
        </mat-icon>
        <mat-icon *ngIf="pendingRequests===0">group</mat-icon>

      </div>
    </div>
  </div>
  <div *ngIf="communityMemberList?.length ; else noMembers" class="members-list">
    <div class="" *ngFor="let i of communityMemberList, let ind = index" [id]="i.userId">
      <app-user-list-view *ngIf="ind < 4" [user]="i"></app-user-list-view>
    </div>
  </div>
  <app-view-more-button (click)="openUserGroupDialog('members')" *ngIf="communityMemberList?.length >= 4">
  </app-view-more-button>

  <ng-template #noMembers>
    <span *ngIf="isAllowedIntoCommunity && !loader">(0) Members</span>
    <p *ngIf="!isAllowedIntoCommunity">This information is only accessible to community members</p>
  </ng-template>

  <div *ngIf="loader">
    <div *ngFor="let i of ' '.repeat(3).split('')">
      <app-user-list-loader></app-user-list-loader>
    </div>
  </div>
</div>


<div class="user_list_ribbon" *ngIf="userListType ==='ribbon'">
  <div class="flex">
    <!-- <div class="invite" *ngIf="relationshipType===owned" (click)="openUserGroupDialogToInvite()">
      <img src="/assets/add.png" alt="" style="width: 70px">
    </div> -->
    <div class="col-sm-10">
      <ul class="ribbon">
        <!--        <li class="ribbon_list">-->
        <!--          <div class="ribbon_img" style="padding: 0;display: flex; justify-content: center; align-items: center;">-->
        <!--            <mat-icon matBadge="15" matBadgeColor="warn" >group</mat-icon>-->
        <!--          </div>-->
        <!--        </li>-->
        <li class="ribbon_list" *ngFor="let i of communityMemberList let idx = index">
          <div>
            <div class="ribbon_img" (click)="navigate(i?.slug)">
              <img [src]="checkImage(i?.avatarDTO?.avatarLink)" [alt]="i?.username" [matTooltip]="i.username">
            </div>
          </div>
        </li>
        <li class="ribbon_list">
          <div class="ribbon_img" style="padding: 0" (click)="openUserGroupDialog('members')">
            <img src="/assets/next.png" alt="default">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
