
<div class="com-members-container box">
  <h1 class="heading">Members</h1>
  <div *ngIf="communityMemberList.length ; else noMembers">
    <div class="" *ngFor="let i of communityMemberList" [id]="i.userId">
      <app-user-list-view [user]="i"></app-user-list-view>
    </div>
    <p (click)="openUserGroupDialog(communityMemberList)"> View more.</p>
  </div>

   <ng-template #noMembers>
     <span> No one following this community yet.</span>
   </ng-template>

  <div *ngIf="loader">
    <div *ngFor="let i of ' '.repeat(3).split('')">
      <app-user-list-loader></app-user-list-loader>
    </div>
</div>
