@import "../variables";
@import "../app.component.scss";

.main-wrap {
  overflow: hidden;
  display: flex;
  aside {
    height: 100vh;
    top: 0;
    position: sticky;
    overflow-y: scroll;
  }
  .left-part {
    flex: 30%;
    max-width: 300px;
  }
  .right-part {
    flex: 30%;
    max-width: 300px;
  }
}
.item {
  background: $white;
}
.card img {
  max-width: 100%;
  height: auto;
}
.feeds {
  flex: 60%;
  width: inherit;
  max-width: 800px;
  height: calc(100vh + 1px);
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  h5 {
    margin: 20px 0 0;
  }
}
.feed-wrap {
  margin: 0.5rem 0;
}
@media only screen and (max-width: 800px) {
  .main-wrap {
    grid-template-columns: auto;
  }
  .btn-wrap button {
    font-size: 12px;
    padding: 0 10px;
    .mat-icon {
      font-size: 20px;
    }
  }
}

.container.mobile {
  padding: 8px;
  .feeds {
    padding: 20px 0px;
  }
}

.no-feed div {
  margin: 10px 0;
  .primary-link {
    text-decoration: underline;
  }
  .primary-link:hover {
    color: $primary;
  }
}
