<app-user-header (menuToggle)="toggle(drawer)"></app-user-header>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="side" [mode]="sideConfig" [opened]="isSidenavopen">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="main-wrap">
        <aside *ngIf="!isMobile">
          <div class="stick">
            <app-sidenav></app-sidenav>
          </div>
        </aside>
        <div class="feeds">
          <app-post-feed (postData)="postFeed($event)" [isCommunityPost]=false></app-post-feed>
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let community of trendingCommunities;let i=index">
              <ng-template carouselSlide [id]="i">
                <qnr-card carouselSlide [imgSrc]="community.src" [title]="community.title" [detail]="community.detail"
                  [slug]="community.slug">
                </qnr-card>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <ng-container *ngIf="userFeeds.length; else noFeeds">
            <div class="feed-wrap" *ngFor="let feed of userFeeds">
              <app-recommended-feeds *ngIf="feed" [feed]="feed"></app-recommended-feeds>
            </div>
            <p class="text-center" style="margin-top :30px" *ngIf="userFeeds.length===1 && userFeeds[0] === null">
              <mat-chip>No Feeds Found...!</mat-chip>
            </p>
          </ng-container>
          <app-feeds-loader *ngIf="loading"></app-feeds-loader>
          <!-- <div class="loader">
            <mat-spinner *ngIf="loading" color="accent"></mat-spinner>
          </div> -->
          <ng-template #noFeeds>
            <p class="text-center" *ngIf="!loading">It seems you don’t have any post yet.</p>
          </ng-template>
          <div *ngIf="userFeeds.length && this.endOfPosts">
            <p class="text-center mt-4">- End -</p>
          </div>
        </div>
        <aside class="right" *ngIf="!isMobile">
          <div class="stick">
            <div class="link-card">
              <app-suggestion></app-suggestion>
            </div>
            <div class="card p-2">
              <p class="m-0">Sponsored</p>
              <img src="assets/thumb-02_600x600.jpg" alt="">
            </div>
          </div>
        </aside>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>