.main-wrap {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 300px auto 300px;
  aside .stick {
    position: sticky;
    top: 0;
  }
}
.card img {
  max-width: 100%;
  height: auto;
}
.feeds {
  max-width: 100%;
  overflow: hidden;
  padding: 5px 20px;
}
