<StackLayout>
  <Label text="community-banner works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="icon">
    <div *ngIf="showTemporaryImage">
        <img [src]="checkImageSrc(tempAvatarLink)" [alt]="alt">
    </div>
    <img [src]="checkImageSrc(avatarLink)" [alt]="alt" (error)="onError()" (load)="onLoad()" #imageOnHTML>
    <!-- <div *ngIf="isBannerLoding" class="banner-loading">
        <app-loader [size]="'md'" [color]="'dark'"></app-loader>
    </div> ->
</div>
-->