<StackLayout>
  <Label text="ask-question-btn works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div *ngIf="type =='icon'">
  <button mat-icon-button (click)="askQuestion()">
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

<div *ngIf="type =='button'">
  <button mat-button (click)="askQuestion()">
    <mat-icon>contact_support</mat-icon>
    Ask a Question
  </button>
</div>

-->