<div class="attached-file-container">
    <div *ngIf="!useLink">
        <div class="attached-file" *ngFor="let attachedFile of attachedFileList, let ind = index"
            (mouseover)="hover(ind)" (mouseout)="unhover()">
            <div class="attached-file-content">
                <div>{{checkFileExtension(attachedFile) | uppercase}}</div>
                <div>{{attachedFile.name | slice:0:7}}..</div>
            </div>

            <button class="action" *ngIf="shouldShow(ind)" (click)="removeAttachedFile(ind)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="useLink">
        <div class="attached-file" *ngFor="let attachedFile of attachedFileLinkList, let ind = index"
            (mouseover)="hover(ind)" (mouseout)="unhover()">
            <div class="attached-file-content">
                <div>{{getFileExtension(attachedFile) | uppercase}}</div>
            </div>
            <button class="action" *ngIf="shouldShow(ind)" (click)="downloadAttachedFile(attachedFile?.postMediaLink)">
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
    </div>


</div>