@import "../../variables";

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 1px 10px 10px $silver;
        color: $heading;
    }
    .sub-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            a {
                color: $primary;
                &:hover {
                    color: $heading;
                    text-decoration: none;
                }
            }
        }
        span {
            color: $gray-font;
        }
    }
}

.wrapper.desktop {
    margin: 10px 30px;
    padding: 100px;
    .header {
        font-size: 1.4rem;
        margin: 20px;
        padding: 40px;
    }
    .sub-header {
        div {
            font-size: 1.1rem;
        }
        span {
            font-size: 0.95rem;
        }
    }
}

.wrapper.mobile {
    margin: 10px 10px;
    padding: 10px;
    .header {
        font-size: 1.2rem;
        margin: 10px;
        padding: 20px;
    }
    .sub-header {
        div {
            font-size: 1rem;
        }
        span {
            font-size: 0.9rem;
        }
    }
}
