<app-user-header></app-user-header>
<div class="profile-banner" [ngClass]="{'profile-banner-mobile' : mobileView}">
</div>
<div class="profile-page-container">

  <div class="profile-section" [ngClass]="{'profile-section-mobile' : mobileView}">
    <div class="profile-img">
      <img [src]="userAvatarImage ? userAvatarImage : 'assets/default.jpg'" alt="">
      <input id="fileInput" type="file" style="display: none" (change)="updateUserAvatar($event)">
      <div class="avatar" *ngIf="relation==='owned'">
        <mat-icon (click)="triggerFalseClick()">camera</mat-icon>
      </div>
    </div>
    <div class="profile-actions">
      <p>{{user?.username}}
        <!--        {{user?.lastName}}-->
        <!--        <span> ○ </span>{{user?.username}}-->
        <!--        <span>{{stats?.followers}} Followers ○ {{stats?.followingTo}} Followings ○ {{stats?.posts}} Posts</span></p>-->
      <div class="actions">
        <button mat-stroked-button *ngIf="relation ==='owned'&& !mobileView ">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <button mat-stroked-button *ngIf="relation ==='owned'&& mobileView ">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button (click)="follow(user?.userId)" *ngIf="relation==='none' && !mobileView">
          <mat-icon>add</mat-icon>
          Follow
        </button>
        <button mat-stroked-button (click)="follow(user?.userId)" *ngIf="relation==='none' && mobileView">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-stroked-button (click)="unfollow(user?.userId)" *ngIf="relation==='followed' && !mobileView"
                style="background: green;color: #ffffff">
          <mat-icon>check</mat-icon>
          Following
        </button>
        <button mat-stroked-button (click)="unfollow(user?.userId)" *ngIf="relation==='followed' && mobileView"
                style="background: green;color: #ffffff">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-user-activity [userId]="user?.userId"></app-user-activity>


  <div>
    <div class="profile-page-container" [ngClass]="{'profile-page-container-mobile' : mobileView}">
      <div class="flex">
        <div class="flex-section-left" >
          <app-usercommunity [userId]="user?.userId" [relation]="relation"></app-usercommunity>
          <app-joined-community></app-joined-community>
          <div *ngIf="!mobileView">
            <app-floating-footer></app-floating-footer>
          </div>
        </div>
        <div class="flex-section-center">
          <app-post-feed (postData)="postFeed($event)" [isCommunityPost]=false
                         *ngIf="relation === 'owned' || relation === 'followed'"></app-post-feed>
          <ng-container *ngIf="userFeeds?.length; else noFeeds">
            <div class="feed-wrap" *ngFor="let feed of userFeeds">
              <app-recommended-feeds *ngIf="feed" [feed]="feed"></app-recommended-feeds>
            </div>
            <p class="text-center" *ngIf="feeds?.length===1 && feeds[0] === null">No Feeds Found...!</p>
          </ng-container>
          <app-feeds-loader *ngIf="loading"></app-feeds-loader>
          <ng-template #noFeeds>
            <p class="text-center" style="margin-top :30px" *ngIf="feeds?.length===1 && feeds[0] === null">No Feeds
              Found...!</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
