<StackLayout>
  <Label text="FeedTextComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="text" *ngIf="text && text !== 'null'">
    <div>
        <dynamic-html class="pre" [content]="textToShow"></dynamic-html>
    </div>
    <span *ngIf="hasMoreText" class="read-more-container">{{endPart}}
        <button class="read-more" (click)="readMoreText()">read more</button>
    </span>
</div>
-->