@import "../variables";
.text {
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-align: justify;
}

.pre {
    white-space: pre-wrap !important;
    margin: 0 !important;
}

.read-more-container{
    display: inline;
    .read-more{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: $link-primary;
    }
    .read-more:hover{
        text-decoration: underline;
    }
}
  