@import '../variables';

.floating-box{
    position: absolute;
    z-index: 1000;
    overflow-y: scroll;
    visibility: hidden;
    padding: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px $grey solid;
}

.suggestion-list{ 
    display: flex;
    flex-direction: column;
    background-color: rgba(241,241,241, 0.9);
    max-height: 100px;
}

.entity-suggested{
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    color: #1f90f9;
    border-radius: 10px;
}

.suggestion-list .entity-suggested:hover{ 
    background-color: #e3e3e3;
}

.suggestion-list .entity-suggested:active{ 
    background-color: #e3e3e3;
    color: $primary;
}

.suggestion-list .selected{
    background-color: #e3e3e3;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid $white;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid $white;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    
    border-left: 5px solid $white;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    
    border-right:5px solid $white;
}