

@import "../variables";


.com-members-container {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 8px;
  background: $white;
  span{
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 8px;
  }

  .heading {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    padding: 5px 14px 8px;
    color: $heading;
  }

  .com-member-det {
    display: flex;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid $grey;
    margin-bottom: 8px;
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    height: 100px;

    .member-avatar {
      width: 80px;
      height: auto;
      //max-height: 55px;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-right: 18px;
        max-height: 79px;
        max-width: 79px;
      }
    }

    .member-name {
      font-size: 18px;
      color: $black;
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      margin: auto;
      padding-left: 10px;
      a{
        text-decoration: none;
        :hover{
          color: $heading;
        }
      }
    }

    .action-btn {
      margin: auto;

      button {
        border: 1px solid $grey;
        border-radius: 8px;
        height: 33px;
        line-height: 10px;
      }
    }
  }

  p {
    text-align: right;
    text-decoration: underline;
    padding: 0 8px;
    color: $heading;
    cursor: pointer;
  }
}
.relation-btn{
  min-width: 120px;
  button{
    width: 100%;
  }
}
.action-btn button:hover {
  //color: $heading;
}
.requested{
  background: $heading;
}
.user-group-container{
  background: $white;
  padding: 20px 10px;
  h4{
    padding-left: 10px;
    border-left: 4px solid $heading;
    font-family: sans-serif;
    margin: 20px 0px;
  }
  .more{
    cursor: pointer;
  }
}
.flex{
  display: flex;
  background: $white;
  //height: 100px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  .flex-50{
    width: 50%;
    //margin: 8px;
    padding: 8px;
    img{
      width: 100%;
      max-width: 79px;
      height: 100%;
      border-radius: 10px;
    }
    div{
      display: table-cell;
      vertical-align: middle;
      height: 80px;
      p{
        margin: 0 !important;
      }
    }
  }
}


.container{
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px ;
}
.container-mobile {
  padding: 10px;
}
