<StackLayout>
  <Label text="no-community-members works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="no-community-members-wrapper" [ngClass]="mobileView ? 'mobile' : 'desktop'">
    <span *ngIf="notAllowed">(0) Members</span>
    <span *ngIf="!notAllowed">This information is only accessible to community members.</span>
</div>
-->