<app-joined-community></app-joined-community>
<div class="link-card">
  <h3>Hashtags</h3>
  <ng-container *ngIf="loadingHashtags">
    <div class="list-item" *ngFor="let i of listItems">
      <ngx-skeleton-loader count="1" appearance="circle"> </ngx-skeleton-loader>
      <ngx-skeleton-loader class="w-100" count="1" appearance="line"> </ngx-skeleton-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="userHashtags.length && !loadingHashtags">
    <div class="links" *ngFor="let item of userHashtags">
      <a [routerLink]="hashTagBaseUrl +item.hashTagValue " class="link">#{{item.hashTagValue}}</a>
    </div>
  </ng-container>
  <ng-container *ngIf="!userHashtags.length && !loadingHashtags">
    <p>
      No Hashtags Found. Create your own hastag now.
    </p>
  </ng-container>
</div>
<div class="link-card d-none d-sm-block d-md-none">
  <app-suggestion></app-suggestion>
</div>
<div class="card p-2 d-none d-sm-block d-md-none">
  <p class="m-0">Sponsored</p>
  <img src="assets/thumb-02_600x600.jpg" alt="">
</div>
<footer>
  <div class="wrap">
    <a *ngFor="let item of footerLinks" [routerLink]="item.link">{{item.title}}</a>
  </div>
  <hr>
  <div class="copyright">
    {{siteTitle}} <i>&</i> {{siteTitle}} Corporation
    <mat-icon style="font-size: 15px; padding: 0; width: fit-content; position: relative; top: 3px;">copyright
    </mat-icon> {{copyRightRenewedYear}}
  </div>
</footer>
