.mat-menu-item{
    font-size: 13px;
    padding: 0 12px !important;
    line-height:10px;
    height:38px;
  mat-icon{
    margin-right: 3px;
    position: relative;
    font-size: 18px;
    top: 2px;
  }
}

::ng-deep.mat-menu-panel{
min-height: auto !important;
}

