<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
    <div *ngIf="feed?.userDTO?.userId === loggedInUserId ; else notComUser">
        <button mat-menu-item (click)="editPost('','',true, feed)" *ngIf="!feed.pollQuestion">Edit Post</button>
        <button mat-menu-item (click)="removePost(feed?.postActionId)">Delete Post</button>
        <button mat-menu-item [cdkCopyToClipboard]="commonService.getPostSharableLink(feed.slug)"
            (cdkCopyToClipboardCopied)="copyLinkOfPost($event)">
            Copy Link
        </button>
        <!-- <button mat-menu-item (click)="openShareDialog()">Share on other platforms</button> -->
    </div>
    <ng-template #notComUser>
        <button mat-menu-item *ngIf="showUnfollowBtn()" (click)="unfollow()">Unfollow
            {{feed?.communityDTO?.communityName}}</button>
        <button mat-menu-item (click)="openPostReportDialog()">Report Post</button>
        <button mat-menu-item [cdkCopyToClipboard]="commonService.getPostSharableLink(feed.slug)"
            (cdkCopyToClipboardCopied)="copyLinkOfPost($event)">
            Copy Link
        </button>
        <!-- <button mat-menu-item (click)="openShareDialog()">Share on other platforms</button> -->
    </ng-template>
</mat-menu>