<div class="box">
  <div class="head-wrap" *ngIf="feed?.communityDTO">
    <div class="profile-icon"> <img [src]="feed?.communityDTO?.avatarDTO?.avatarLink ?
      feed?.communityDTO?.avatarDTO?.avatarLink : 'assets/default.jpg'" alt=""> </div>
    <div class="profile-detail" *ngIf="feed.communityDTO">
      <div class="head"><a class="username-link"
          [routerLink]="['/', userPath, feed.userDTO.slug]">{{feed?.userDTO?.username}}</a>
      </div>
      <div class="subhead"> Posted in <a
          [href]="'/community/' + feed?.communityDTO.slug">{{feed?.communityDTO?.communityName}}</a>
      </div>
      <app-time-string [metaData]="feed.metaData"></app-time-string>
    </div>

    <div class="spacer"></div>
    <app-post-menu-options [feed]="editableFeed" (removePostEvent)="removePost($event)"></app-post-menu-options>
  </div>
  <div class="head-wrap" *ngIf="!feed.communityDTO">
    <app-profile-icon [avatar]="feed.userDTO.avatarDTO" [height]="50" [sizeRef]="'small'"
      [routerLink]="['/', userPath, feed.userDTO.slug]">
    </app-profile-icon>
    <div class="profile-detail">
      <div class="head" *ngIf="feed?.userDTO?.username">
        <a class="username-link" [routerLink]="['/', userPath, feed.userDTO.slug]">{{feed?.userDTO?.username}}</a>
      </div>
      <app-time-string [metaData]="feed.metaData"></app-time-string>
    </div>
    <div class="spacer"></div>
    <app-post-menu-options [feed]="editableFeed" (removePostEvent)="removePost($event)" ></app-post-menu-options>
  </div>
  <div class="mb-2">
    <div *ngIf="feed.postMediaList?.length" class="media-container">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let media of feed.postMediaList;let i=index">
          <ng-template carouselSlide [id]="i" *ngIf="media.resourceType === 'image'">
            <div class="media">
              <img class="post-media" [src]="media.postMediaLink" alt="" (error)="onError(i)" (load)="onLoad(i)">
              <button class="reload-btn" *ngIf="errorOnImageIndexList.indexOf(i) > -1"
                (click)="onRefreshImageAtIndex(i)">
                <mat-icon>refresh</mat-icon>
              </button>
              <div class="background-blur" [style.backgroundImage]="'url(' + media.postMediaLink + ')'"></div>
            </div>
          </ng-template>
          <ng-template carouselSlide [id]="i" *ngIf="media.resourceType === 'video'">
            <mat-video color="accent" [src]="media.postMediaLink" [keyboard]="false"> </mat-video>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <app-feed-text [text]="feed?.text" [hashTagsData]="hashTagsData"></app-feed-text>
    <app-meta-card *ngIf="iFramelyData?.url" [iFramelyData]="iFramelyData"></app-meta-card>
  </div>
  <div class="count-box">
    <div (click)="openUserGroupDialog('like')"> <span>{{feed.totalLikes? feed.totalLikes: 0}}
      </span>
      {{feed.totalLikes>1? 'Likes': 'Like'}}</div>
    <div class="dot"></div>
    <div> <span> {{feed.totalComments?feed.totalComments:0}} </span>
      {{feed.totalComments> 1? 'Comments': 'Comment'}} </div>
  </div>
  <div class="footer-wrap">
    <button mat-button [disabled]="isLoading" (click)="likePost(feed.postActionId)"
      [ngClass]="feed?.postActionMeta?.liked? 'liked':''">
      <mat-icon [innerHtml]="feed?.postActionMeta?.liked?'favorite' :'favorite_border'"></mat-icon> &nbsp;
      <span [innerHtml]="feed?.postActionMeta?.liked?'Liked' :'Like'"> Like </span>
    </button>
    <button mat-button (click)="toggleComments()">
      <mat-icon>insert_comment</mat-icon> &nbsp;
      <span> Comment </span>
    </button>
    <!-- <button mat-button (click)="openShareDialog()">
      <mat-icon>share</mat-icon> &nbsp;
      <span> Share </span>
    </button> -->
  </div>
  <div class="comments" [@expand]="isCommenting ? 'expanded' : 'collapsed'">
    <div class="wrap">
      <div class="wrap-items">
        <button mat-button (click)="getComments()">Load more
          comments</button>
        <div class="loader" *ngIf="isCommentLoading" style="justify-content: flex-start;">
          <ngx-skeleton-loader count="1" appearance="circle"
            [theme]="{height: '45px', width: '45px','background-color': '#eee'}"> </ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-50" count="1" appearance="line" [theme]="{'border-radius': '10px',
            height: '60px','background-color': '#eee'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="feed.commentActionList?.length">
          <div class="comment-box" *ngFor="let comment of feed.commentActionList">
            <app-comment-box class="comment-item" [comment]="comment" (reply)="replyTo($event)" [post]="feed"
              (deleteEvent)="deleteComment($event)">
            </app-comment-box>
            <div class="subComments" *ngIf="comment.childCommentDTOSet?.length">
              <div class="child-comment" *ngFor="let item of comment.childCommentDTOSet">
                <app-comment-box class="comment-item" [comment]="item" [parentComment]="comment"
                  (reply)="replyTo($event)" [post]="feed" (deleteEvent)="deleteComment($event)"></app-comment-box>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="comment-box-wrap">
        <div class="profile-icon"> <img [src]="login.profileImg"> </div>
        <div class="comment-wrapper">
          <span *ngIf="replyingTo">{{replyingTo.username}}</span>
          <input type="text" [formControl]="comment" #commentInput
            [placeholder]="replyingTo? 'Reply to ' + replyingTo.username : 'Write a Comment..'"
            (keyup.enter)="postComment(feed.postActionId)">
          <button mat-icon-button color="accent" (click)="postComment(feed.postActionId)" [disabled]="!comment.valid">
            <app-emoticons (emojiData)="addEmoji($event)"></app-emoticons>
          </button>
          <button mat-icon-button color="accent" (click)="postComment(feed.postActionId)" [disabled]="!comment.valid">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
