@import "../../variables";

:host {
  margin: 1rem 0;
  display: block;
}

.box {
  background: #fff;
  border-radius: 10px;
  margin: 10px 0;
}
.head-wrap {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}
.media-container {
  height: 400px;
  .media{
    margin: auto;
    background-color: $white;
    display: flex;
    height: 400px;
    position: relative;
    .background-blur{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: blur(20px);
      opacity: 0.7;
    }
    .post-media{
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      z-index: 1;
    }
  }
}
.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  img {
    width: auto;
    height: 100%;
  }
}
.profile-detail {
  padding: 0 0.6rem;
  font-size: 14px;
  .head {
    font-weight: 500;
  }
  .subhead {
    color: $primary;
  }
}
.text {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.count-box {
  display: flex;
  padding: 0.2rem 1rem;
  align-items: center;
  & > * {
    margin: 0 5px;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $primary;
  }
  span {
    font-weight: 500;
  }
}
.footer-wrap {
  display: flex;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;
  button {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 0.8rem;
    border: rgba(0, 0, 0, 0.4);
    &:not(:disabled):hover {
      color: $primary;
    }
  }
  button:first-child {
    margin-left: 0;
  }
}
.align-center {
  display: flex;
  align-items: center;
}
.comment-wrapper {
  background: #eee;
  padding: 0 1rem;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  flex: auto;
  span {
    padding: 0.2rem 0.5rem;
    background: rgba($primary, 0.3);
    font-weight: 500;
    border-radius: 5px;
  }
  input {
    background: transparent;
    border: none;
    padding: 0.5rem;
    color: #000;
    width: 100%;
    letter-spacing: 1px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
.comments {
  overflow: hidden;
  .wrap {
    padding: 1rem;
    .wrap-items {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
.comment-box {
  margin: 1rem 0;
  width: 80%;
  .comment-item {
    .head-wrap {
      padding: 0.5rem;
    }
    .main-body {
      padding: 1rem;
      padding-top: 0;
    }
    .profile-icon {
      height: 50px;
      width: 50px;
    }
    .profile-detail {
      padding: 0.6rem;
      .head {
        font-size: 0.8rem;
      }
    }
  }
}
.comment-item {
  display: flex;
}
button.liked {
  color: $primary;
}
.commmentActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem;
  font-size: 12px;
  & > * {
    margin: 0 5px;
  }
  a {
    text-transform: uppercase;
    color: $primary;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      color: darken($primary, 20%);
    }
  }
  span {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: $primary;
  }
}
.reply-box {
  overflow: hidden;
}
.child-comment {
  width: 80%;
}
.subComments {
  margin-left: 40px;
}
.comment-box-wrap {
  display: flex;
  .profile-icon {
    width: 40px;
    margin: auto 10px;
    height: 40px;
  }
}
p.pre {
  white-space: pre-wrap;
  margin: 0;
}
