<div class="gapper"style="margin-top:52px">
  <mat-card style="padding: 0">
    <div class="header-container">
      <span>Today's most popular.</span>
      <span>
      <mat-icon class="menu">info_outline</mat-icon>
    </span>
    </div>
    <div class="body-container">
      <ul>
        <li>
          <span class="headings"><a href="">Is happiness is the key of productivity?</a></span>
          <div class="sub-headings">3days ago &nbsp;&nbsp; |&nbsp;&nbsp; 762 readers </div>
        </li>
        <li>
          <span class="headings"><a href="">Sarkari Naukri to become more elusive.</a></span>
          <div class="sub-headings">3days ago &nbsp;&nbsp; |&nbsp;&nbsp; 762 readers </div>
        </li>
        <li>
          <span class="headings"><a href="">Is happiness is the key of productivity?</a></span>
          <div class="sub-headings">3days ago &nbsp;&nbsp; |&nbsp;&nbsp; 762 readers </div>
        </li>
        <li>
          <span class="headings"><a href="">Sarkari Naukri to become more elusive.</a></span>
          <div class="sub-headings">3days ago &nbsp;&nbsp; |&nbsp;&nbsp; 762 readers </div>
        </li>
      </ul>
    </div>

  </mat-card>

</div>
