<div class="box">
  <div class="post-wrap">
    <div class="icon"> <img [src]="profileImg? profileImg : 'assets/default.jpg'" alt=""> </div>
    <textarea rows="1" placeholder="Post Something...." [formControl]="text"></textarea>
  </div>
  <div class="media" [@expand]="isMediaEnabled ? 'expanded' : 'collapsed'">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa facere debitis ducimus quibusdam, nobis dolor unde
    quos fugit assumenda neque aliquam aperiam magnam perferendis eos deleniti impedit! Optio, ea repellendus.
  </div>
  <div class="btn-wrap">
    <button mat-button (click)="toggleAddMedia()">
      <mat-icon>add_a_photo</mat-icon> &nbsp;
      <span> Photo/Video </span>
    </button>
    <button mat-button>
      <mat-icon>help</mat-icon> &nbsp;
      <span> Ask a Question </span>
    </button>
    <!-- <button mat-button>...</button> -->
    <div class="space"></div>
    <button mat-button class="btn-color" (click)="post()"> Post &nbsp;
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
