<div class="box">
  <div class="loader" [ngClass]="{'active': isLoading}">
    <mat-progress-bar *ngIf="!uploading && isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar *ngIf="uploading" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  </div>
  <div class="post-wrap">
    <div class="icon my-3"> <img [src]="profileImg? profileImg : 'assets/default.jpg'" alt=""> </div>
    <textarea rows="1" placeholder="Post Something...." [formControl]="text" (keyup.enter)="postFeed()"></textarea>
  </div>

  <div class="media" [@expand]="isMediaEnabled ? 'expanded' : 'collapsed'">
    <div class="media-wrap">
      <div class="media-item" *ngFor="let item of addedMedias; let i=index">
        <button mat-icon-button (click)="removeMedia(i)">
          <mat-icon>close</mat-icon>
        </button>
        <img *ngIf="addedMediaSrc[i]?.type.includes('image')" [src]="addedMediaSrc[i]?.src">
        <video *ngIf="addedMediaSrc[i]?.type.includes('video')">
          <source [src]="addedMediaSrc[i]?.src" [type]="addedMediaSrc[i].type">
        </video>
      </div>
      <div class="drop-area m-2" appDragDrop (fileDropped)="filesDropped($event)" (click)="fileInput.click()">
        <input type="file" (change)="selectFiles($event)" #fileInput style="display: none" multiple
          accept="image/*,video/*" />
        <div class="text-center">
          <mat-icon>add_photo_alternate</mat-icon>
          <div> Drop Image/Video </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrap">
    <button mat-button (click)="toggleAddMedia()" [ngClass]="{ active: isMediaEnabled}">
      <mat-icon>add_a_photo</mat-icon> &nbsp;
      <span> Photo/Video </span>
    </button>
    <button mat-button>
      <mat-icon>help</mat-icon> &nbsp;
      <span> Ask a Question </span>
    </button>
    <div class="space"></div>
    <button mat-flat-button class="btn-post" color="accent" (click)="postFeed()"
      [disabled]="isPostInvalid() || isLoading">
      <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div> &nbsp;
      Post &nbsp; <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
