@import "../../../../variables";

.community-list-container {
  text-align: center;
  overflow-y: scroll;
  padding: 0px 20px 20px;
}
.community-list-container.desktop {
  max-height: 60vh;
}
.community-list-container.mobile {
  // padding-top: 60px;
  max-height: 90vh;
  .col-6 {
    padding: 0;
  }
}
.mobile-nav-btn {
  width: 100%;
  position: fixed;
  background: $mobile-nav-color;
  z-index: 1;
  button {
    margin: 10px;
  }
}
.load-more-button {
  cursor: pointer;
}

.community-card-loader {
  margin: 20px 0px 0px;
}

.header {
  display: flex;
  justify-content: center;
  background: $heading;
  color: $white;
  font-size: 1.2rem;
  z-index: 1;
  padding: 6px;
  border-bottom: 2px solid $primary;
}
