@import "../../../../variables";

.container-header {
  text-align: center;
  overflow: hidden;
}
.container-header.desktop {
  padding: 30px;
}
.container-header.mobile {
  // padding-top: 60px;
  .col-6 {
    padding: 0;
  }
}

.community-list {
  overflow-y: scroll;
}

.mobile-nav-btn {
  width: 100%;
  position: fixed;
  background: $mobile-nav-color;
  z-index: 1;
  button {
    margin: 10px;
  }
}
.load-more-button {
  cursor: pointer;
}
