<StackLayout>
  <Label text="custom-tooltip works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div #customTooltip>
    <ng-content></ng-content>
</div>
<!-- <div class="tooltip community" *ngIf="tooltipType == customTooltipType.community"></div>
<button mat-button class="btn-color">
    Join {{communityName}} Community Now!
</button>
</div>
<div class="tooltip" *ngIf="tooltipType == customTooltipType.default">
    DEFAULT
</div> ->
-->