@import "../../variables";

.user-description-flex {
  width: calc(100% - 10px);
  margin: 0 auto;
  // position: relative;
  // top: -50px;
  padding: 8px;
  height: 100%;
  h3 {
    font-size: 16px;
    font-weight: 500;
    color: $heading;
    padding-bottom: 2px;
    border-bottom: 1px solid;
  }
  .user-description {
    // position: absolute;
    // left: 8px;
    // right: 0;
    // top: 30px;
    // bottom: 0;
    overflow-y: auto;
    margin-right: 8px;
    margin-bottom: 8px;
    max-height: 100px;
    .description {
      overflow-wrap: break-word;
    }
  }
}

.pre {
  white-space: pre-wrap !important;
  margin: 0 !important;
}

/* mobile responsive css */
.description-card-wrapper.mobile {
  // top: -25px;
  margin-bottom: 10px;
  .description {
    font-size: 0.8rem;
  }
}

.description-card-wrapper.desktop {
  .description {
    // font-size: 1rem;
  }
}
