<div class="community-details">
  <!--  <div class="default-navs">-->
  <!--    <ul>-->
  <!--      <li>-->
  <!--        <div style="color: orangered;font-weight: 500">Home</div>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <div>Explore</div>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <!--Community Informations-->

  <div class="community-info">
    <div class="com-det-container">
      <div class="profile-background">

      </div>
      <div class="com-owner-det">
        <a href="/user-profile">
          <div class="owner-img">
            <img src="assets/default.jpg" alt="defaultowner">
          </div>
          <div>
            <div class="owner-name">
              <h5> Satish Kumar Gaur</h5>
            </div>
          </div>
        </a>
      </div>
      <hr>

      <div class="user-follower">
        <mat-icon>people_outline</mat-icon>
        <span>500 Followers</span>
      </div>

      <div class="user-follower">
        <mat-icon>calendar_view_day</mat-icon>
        <span>66 Posts</span>
      </div>
    </div>
    <hr style="margin: 8px">
    <div class="follow-user">
      <button mat-button> Follow</button>
    </div>
  </div>

</div>
