<div class="community-details box">
  <!--  <div class="default-navs">-->
  <!--    <ul>-->
  <!--      <li>-->
  <!--        <div style="color: orangered;font-weight: 500">Home</div>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <div>Explore</div>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <!--Community Informations-->

  <div class="community-info">
    <div class="com-det-container">
      <div class="profile-background">
        <img [src]="userBannerImage" alt="banner" class="comm-ban-img" [ngClass]="[userBannerImage ? '' : 'd-none']">
      </div>
      <div class="com-owner-det" [id]="userId">
        <div class="owner-img">
          <app-profile-icon [avatar]="avatar" [height]="90" [sizeRef]="'medium'" [alt]="username"
            routerLink="['/', userPath, slug]">
          </app-profile-icon>
        </div>
        <div>
          <div class="owner-name" [routerLink]="['/', userPath, slug]">
            <p class="link" [routerLink]="['/', userPath, slug]"> {{username}}</p>
          </div>
        </div>
      </div>
      <hr>

      <div class="user-follower">
        <mat-icon>people_outline</mat-icon>
        <span>{{userInfo?.followers}} Followers</span>
      </div>

      <div class="user-follower">
        <mat-icon>calendar_view_day</mat-icon>
        <span>{{userInfo?.posts}} Posts</span>
      </div>
      <div class="user-follower">
        <mat-icon>calendar_view_day</mat-icon>
        <span>{{userInfo?.ownsCommunities}} Communities</span>
      </div>
    </div>
    <hr style="margin: 8px">
    <div class="follow-user">
      <a [routerLink]="['/', userPath, slug]" *ngIf="relationship =='owned'; else public">
        <button mat-button>
          Profile
        </button>
      </a>
      <ng-template #public>
        <div *ngIf="relationship=='followed'; else notFollowing">
          <button mat-stroked-button class="following" (click)="unfollowUser(userId)">
            <mat-icon>check</mat-icon>
            Following
          </button>
        </div>
        <ng-template #notFollowing>
          <button mat-button class="none" (click)="addUser()">Follow</button>
        </ng-template>
      </ng-template>
    </div>
  </div>

</div>