<div class="no-user-question-wrapper" [ngClass]="mobileView ? 'mobile' : 'desktop'">
    <div *ngIf="type==userQuestionListModalTypeClass.user">
        <div *ngIf="isOwner">
            You have not asked any questions.
        </div>
        <div *ngIf="!isOwner">
            The user has not asked any questions.
        </div>
    </div>
    <div *ngIf="type==userQuestionListModalTypeClass.community">
        <div *ngIf="!notAllowed; else notAllowed">
            Community has not asked any questions.
        </div>
        <ng-template #notAllowed>
            Community Questions are only available for its members.
        </ng-template>
    </div>
</div>