<div class="card">
  <!-- <div class="profile" style.background="src({{getImgUrl(imgSrc)}}) center center/cover no-repeat"> -->
  <div class="profile" [style.background]="getImgUrl(imgSrc)" style="background-size: cover; background-position: center;"> </div>
  <div class="content">
    <!-- <div class="rank">
      <span>#</span>{{rank}}
    </div> -->
    <div class="title">{{title}}</div>
    <div class="detail">
      {{followers|number}} {{'membersRank.followers' | translate}} <br>
      {{posts | number}} {{'membersRank.posts' | translate}}
    </div>
  </div>
</div>
