// Colors
$primary: #f15152;
$accent: #9b211f;
$heading: #92140c;
$main-bg: #2a2733;
$gray: #dddddd;
$dark-grey: #d3d5d7;
$black: #242a3a;
$white: #ffffff;
$text-white: #f9fcfd;
$background: #efefef;
$background-transparent: #efefefaf;
$primary-button-border: #1e555c;
$secondary-button-border: #344966;
$mobile-nav-color: #eeeeee;

$primary-transparent: #f8919183;
$data-primary: hsla(344, 100%, 44%, 1); // #e0003c

$light-primary: #ffb8b8;

$gray-font: rgb(105, 105, 105);
$gray-font-secondary: #515151;
$gray-font-secondary: #797979;
$fixed-sections: #bbbbbbbb;

$blog-text: #212121;
$secondary-font-color: rgba(0, 0, 0, 0.7);
$red: rgb(236, 11, 11);
$svg-background: #f1515221;

// Sizes
$nav-height: 54px;
$btn-height: 32px;
$btn-width: 112px;
$community-nav-height: 70px;

// Responsive
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

//fonts
$default-font: sans-serif;

//font-color
$default-font-color: #767e80;

// $background-secondary: #eeeeee;
$background-secondary: #e3e3e3; // rgba(241, 241, 241, 1);

$link-primary: #1f90f9; // rgb(31, 144, 249)

$link-secondary: #7cbffd;

$link-third: #0057a9;

$hash-tag: #1f90f9; // rgb(31, 144, 249)
$hash-tag-background: #f0f8ff;

$secondary-font-color: rgb(156, 156, 156);

$input-field-background-color: #f8919183;

$input-field-background-color-secondary: #f1515221;

$silver: silver;

$required: #663399;

$required-secondary: #a985ce;

/** Font-Family */
$font-question: "Palatino";
$font-answer: "Helvetica Neue";

$community-title-font-family: "Helvetica Neue";
$community-description-font-family: "Verdana";
