// Colors
$primary: #ff0052;
$accent: #ff6600;
$heading: #ff5252;
$main-bg: #2a2733;
$grey: #dddddd;
$black: #242a3a;
$white: #ffffff;
$text-white: #f9fcfd;
$background:#fafafb;

// Sizes
$nav-height: 54px;
$btn-height: 32px;
$btn-width: 112px;

// Responsive
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

//fonts
$default-font: sans-serif;

//font-color
$default-font-color: #767e80;

// $background-secondary: #eeeeee;
$background-secondary: #e3e3e3; // rgba(241, 241, 241, 1);

$link-primary: #1f90f9; // rgb(31, 144, 249)

$hash-tag: #1f90f9; // rgb(31, 144, 249)

