@import "./variables";

.header-div {
    padding-bottom: 0.6rem;
}

.hr {
    border-bottom: 1px solid $gray;
    margin-bottom: 0.6rem;
}

.center {
    display: flex;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.page-scroll {
    overflow: scroll;
    max-height: calc(100vh + 1px);
}

.remove-border {
    &:active {
        outline: 0 !important;
    }
    &:focus {
        outline: 0 !important;
    }
}
