@import './variables';

.header-div{
    padding-bottom: 0.6rem;
}

.hr{
    border-bottom: 1px solid $grey;
    margin-bottom: 0.6rem;
}

.center {
    display: flex;
    justify-content: center;
}
  
.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.page-scroll {
    overflow: scroll;
    max-height: calc(100vh + 1px);
}  

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}