@import '../variables';

.title{
    padding: 1rem;
    font-size: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    white-space: nowrap;
    cursor: pointer;
    color: $heading;
    &:hover{
        color: $primary;
    }
}