@import '../variables';

.title{
    padding: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: $heading;
    &:hover{
        color: $primary;
    }
}
.blog-feed{
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-center{
    text-align: center;
    text-decoration: underline;
}