<div class="header-wrapper">
    <div class="header-part">
        <div class="header" [ngClass]="mobileView ? 'mobile': 'desktop'" *ngIf="category; else noCategory">
            <div *ngIf="!mobileView; else headerMobile">
                Questnr FAQs&nbsp;-&nbsp;{{category}}
            </div>
            <ng-template #headerMobile>
                <div>Questnr FAQs -&nbsp;</div>
                <div>{{category}}</div>
            </ng-template>
        </div>
        <ng-template #noCategory>
            <div class="header" [ngClass]="mobileView ? 'mobile': 'desktop'">
                Questnr FAQs
            </div>
        </ng-template>
    </div>
    <div class="search-control" *ngIf="!mobileView">
        <input type="text" matInput [formControl]="searchFAQControl"
            (keyup.enter)="handleSearchFAQ(searchFAQControl.value)" placeholder="Search Your Question Here" />
    </div>
</div>