@import "../../variables";

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header-part {
        flex: 70%;
        color: $heading;
        font-weight: bold;
        border-bottom: 2px solid $gray;
        padding-bottom: 10px;
        margin-right: 10px;
        .header {
        }
        .header.desktop {
            font-size: 1.6rem;
        }
        .header.mobile {
            font-size: 1.4rem;
        }
    }
    .search-control {
        flex: 30%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-end;
        input[type="text"] {
            width: 100%;
            max-width: 250px;
            text-align: end;
            background-color: $input-field-background-color;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            outline: none;
            padding: 10px 20px;
            border: 1px solid $gray;
        }

        input[type="text"]:focus {
            box-shadow: 0 0 5px $heading;
            padding: 10px 20px;
            border: 1px solid $heading;
        }
    }
}
