<app-header></app-header>
<section style="height: 85%; margin-top: 50px">
  <div class="container">
    <div class="center">
      <div class="bg-container box">
        <div class="title">
          <h5 class="heading">Reset Password</h5>
          <hr>
        </div>
        <form [formGroup]="group">
          <div class="alert alert-danger" *ngIf="errMsg"> <strong>Error! </strong> {{errMsg }}</div>
          <div>
            <p>Please enter new password</p>
          </div>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="newPassword" placeholder="Enter your Password">
            <mat-error *ngIf="newPassword.hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="newPassword.errors?.minlength">
              Field should contain at least 6 characters
            </mat-error>
            <mat-error *ngIf="newPassword.errors?.maxlength">
              Field can have max 100 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput [formControl]="confirmPassword" placeholder="Re-Enter your Password">
            <mat-error *ngIf="confirmPassword.hasError('required')">Re-enter your Password</mat-error>
            <mat-error *ngIf="confirmPassword.hasError('MatchPassword')">Password does not match.</mat-error>
          </mat-form-field>

          <button mat-flat-button (click)="resetPassword()" [disabled]="isLoading" class="act-button">
            <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div> &nbsp;
            Forgot
          </button>
          <div class="alert-success alert" *ngIf="successMsg"> <strong>Success! </strong> <span
              [innerHTML]="successMsg"></span></div>

        </form>

      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>