@import "../variables";

.user-question-list-wrapper {
    .link-card {
        background: $white;
        padding: 15px;
        margin: 20px 0;
        border-radius: 10px;
    }
    .links {
        display: flex;
        align-items: center;
        margin: 15px 10px;
    }
    .header {
        font-size: 16px;
        font-weight: 500;
        color: $heading;
        display: flex;
        justify-content: space-between;
    }
    .list-item {
        display: flex;
        align-items: center;
    }
    .mat-expansion-panel {
        box-shadow: unset;
    }
    .user-question-list-expansion-panel mat-expansion-panel-header {
        height: unset !important;
        min-height: 45px !important;
        padding: 15px !important;
    }
    .user-question-list-expansion-panel {
        background: $white;
        margin: 0 0 20px 0;
        border-radius: 10px;
    }
    .mat-expansion-panel-content .mat-expansion-panel-body {
        padding: 0px 15px !important;
        margin: -15px 0px 0px !important;
    }
    .user-question-loader {
        margin-bottom: 10px;
    }
}
