@import "../../variables";

.post-notification-button-wrapper {
    cursor: pointer;
    background-color: $light-primary;
    border-radius: 10px;
    // border: 2px solid $primary;
    box-shadow: 3px 1px 10px $light-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $heading;
    border: 3px solid $white;
}
.post-notification-button-wrapper.desktop {
    padding: 1rem;
}

.post-notification-button-wrapper.mobile {
    font-size: 0.9rem;
    padding: 0.9rem;
}

.rotate {
    animation: rotation 0.9s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
