<app-header *ngIf="!loginService.loggedIn()" ></app-header>
  <app-user-header *ngIf="mobileView || type ===1 && loginService.loggedIn()"></app-user-header>


<div *ngIf="singlePost.postType==='simple'">
  <div class="container-header" [ngClass]="{'text-post': type===1}">
    <div class="row" style="background: #ffffff">
      <div class="col-lg-8 " style="padding: 0" *ngIf="type===0 || type === 2">
        <div class="post-img-ctn">
          <div *ngIf="singlePost?.postMediaList?.length" class="post-media-window" id="post-media-window">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let media of singlePost.postMediaList;let i=index">
                <ng-template carouselSlide [id]="i" *ngIf="media.resourceType === 'image'">
                  <img class="w-100" [src]="media.postMediaLink" alt="">
                </ng-template>
                <ng-template carouselSlide [id]="i" *ngIf="media.resourceType === 'video'">
                  <mat-video color="accent" [src]="media.postMediaLink"></mat-video>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <app-meta-card *ngIf="iFramelyData?.url && !mobileView" [iFramelyData]="iFramelyData"></app-meta-card>
          <div class="logo" [routerLink]="['/', feedUrl]" *ngIf="!mobileView">
            <img src="/assets/logo.png" alt="">
          </div>
          <div class="fullscreen" *ngIf="!mobileView">
            <mat-icon *ngIf="!fullscreen" (click)="fullScreen()">fullscreen</mat-icon>
            <mat-icon *ngIf="fullscreen" (click)="exitFullscreen()">fullscreen_exit</mat-icon>
          </div>
        </div>
      </div>
      <div class="col-lg-4 content-ctn" [ngClass]="{'none-media-post': type===1 && !mobileView}">
        <div class="post-head" id="post-head">
          <div class="head-wrap" *ngIf="singlePost.communityDTO">
            <div class="profile-icon">
              <app-profile-icon [avatar]="singlePost.userDTO.avatarDTO" [height]="50" [sizeRef]="'small'"
                                [routerLink]="['/', userSlug , singlePost.userDTO.slug]">
              </app-profile-icon>
            </div>
            <div class="profile-detail" *ngIf="singlePost.communityDTO">
              <div class="head"><a
                  [href]="'/community/' + singlePost.userDTO.slug">{{singlePost.userDTO?.username}}
                </a></div>
              <div class="subhead"> Posted in <a
                [href]="'/community/' + singlePost?.communityDTO.slug">{{singlePost?.communityDTO?.communityName}}</a>
              </div>
              <app-time-string [metaData]="singlePost.metaData"></app-time-string>
            </div>
          </div>
          <div class="head-wrap" *ngIf="!singlePost.communityDTO">
            <div class="profile-icon">
              <app-profile-icon [avatar]="singlePost.userDTO.avatarDTO" [height]="50" [sizeRef]="'small'"
                                [routerLink]="['/', userSlug , singlePost.userDTO.slug]">
              </app-profile-icon>
            </div>
            <div class="profile-detail">
              <div class=" head"><a
                  [href]="'/user/' + singlePost.userDTO?.slug">{{singlePost.userDTO?.username | titlecase}}</a>
              </div>
<!--              <div class="subhead" [matTooltip]="singlePost.metaData.updatedAtTimeInUTC | date">-->
<!--                {{singlePost.metaData.timeString}} ago-->
<!--              </div>-->
              <app-time-string [metaData]="singlePost.metaData"></app-time-string>
            </div>
          </div>
<!--          <div class="text" *ngIf="singlePost?.text && singlePost.text !== 'null'"-->
<!--               [innerHtml]="singlePost?.text">-->
<!--          </div>-->
          <div class="text-container">
            <app-feed-text [text]="singlePost?.text" [hashTagsData]="hashTagsData"></app-feed-text>
          </div>
          <app-meta-card *ngIf="iFramelyData?.url && mobileView" [iFramelyData]="iFramelyData" ></app-meta-card>
          <div class="count-box">
            <div><span>{{singlePost.totalLikes ? singlePost.totalLikes : 0}} </span>
              {{singlePost.totalLikes > 1 ? 'Likes' : 'Like'}}</div>
            <div class="dot"></div>
            <div><span> {{singlePost.totalComments ? singlePost.totalComments : 0}} </span>
              {{singlePost.totalComments > 1 ? 'Comments' : 'Comment'}} </div>
          </div>
          <div class="footer-wrap">
            <button mat-button [disabled]="isLoading" (click)="likePost(singlePost.postActionId)"
              [ngClass]="singlePost?.postActionMeta?.liked? 'liked':''">
              <mat-icon [innerHtml]="singlePost?.postActionMeta?.liked?'favorite' :'favorite_border'"></mat-icon>
              &nbsp;
              <span [innerHtml]="singlePost?.postActionMeta?.liked?'Liked' :'Like'"> Like </span>
            </button>
            <button mat-button (click)="toggleComments()">
              <mat-icon>insert_comment</mat-icon> &nbsp;
              <span> Comment </span>
            </button>
            <button mat-button (click)="openShareDialog()">
              <mat-icon>share</mat-icon> &nbsp;
              <span> Share </span>
            </button>
          </div>
          <hr style="margin: 0">
          <div class="comment-box-wrap" *ngIf="loginService.loggedIn()">
            <div class="profile-icon"> <img [src]="loginService.profileImg ? loginService.profileImg : '/assets/default.jpg' "> </div>
            <div class="comment-wrapper">
              <span *ngIf="replyingTo">{{replyingTo.username}}</span>
              <input type="text" [formControl]="comment" #commentInput
                [placeholder]="replyingTo? 'Reply to ' + replyingTo.username : 'Write a Comment..'"
                (keyup.enter)="postComment(singlePost.postActionId)">
              <button mat-icon-button color="accent" (click)="postComment(singlePost.postActionId)"
                [disabled]="!comment.valid">
                <app-emoticons (emojiData)="addEmoji($event)"></app-emoticons>
              </button>
              <button mat-icon-button color="accent" (click)="postComment(singlePost.postActionId)"
                [disabled]="!comment.valid">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
          <div class="comment-box-wrap">
              <button mat-stroked-button  [routerLink]="['/', loginURL]" style="width: 100%" *ngIf="!loginService.loggedIn()">Login to comment</button>
          </div>
          <div class="comment-window">
            <div *ngIf="singlePost.commentActionList?.length;">
              <div class="comment-box" *ngFor="let comment of singlePost.commentActionList"
                [ngClass]="comment.userActorDTO?.userId === getUserId()? 'myComment' : ''">
                <app-comment-box class="comment-item" [comment]="comment" [post]="singlePost" (update)="getComments()"
                  (deleteEvent)="deleteComment($event)">
                </app-comment-box>
                <div class="subComments" *ngIf="comment.childCommentDTOSet?.length">
                  <div class="child-comment" *ngFor="let item of comment.childCommentDTOSet">
                    <app-comment-box class="comment-item"
                      [ngClass]="item.userActorDTO?.userId === getUserId()? 'myComment' : ''" [comment]="item"
                      [post]="singlePost" (update)="getComments()" (deleteEvent)="deleteComment($event)">
                    </app-comment-box>
                  </div>
                </div>
              </div>
            </div>
            <div class="loader">
              <div *ngIf="isCommentLoading" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <!--                <mat-spinner *ngIf="isCommentLoading" color="accent"></mat-spinner>-->
            </div>
          </div>
          <button mat-button (click)="getComments()" *ngIf="!endOfComments && !isCommentLoading &&  singlePost.commentActionList?.length ===3 && loginService.loggedIn()">Load more
            comments</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="singlePost.postType==='question'" style="position: relative; height: 100%">
  <div class="container question-ctn">
    <div class="row">
      <div class="col-md-12">
        <app-question-ui [question]="singlePost" ></app-question-ui>
      </div>
    </div>
  </div>
</div>
