@import "../variables";

.single-entity{
  position: relative;
  top: 5rem;
}

.post-window{
  display: flex;
  flex-direction: row;
}

.post-media-window{
  flex: 65%;
}

.post-head{
  flex: 30%;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.comment-window{
  overflow-y: scroll;
  height: 300px;
  padding-left: 1rem;
}

.box {
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.head-wrap {
  display: flex;
  align-items: center;
  padding: 1rem;
  .profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 64px;
    border-radius: 50%;
    width: 64px;
    img {
      width: auto;
      height: 100%;
    }
  }
  .profile-detail {
    padding: 1rem;
    .head {
      font-size: 1rem;
      font-weight: 600;
    }
    .subhead {
      color: $primary;
    }
  }
}
.text {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.count-box {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  & > * {
    margin: 0 10px 0 0px;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $primary;
  }
  span {
    font-weight: 500;
  }
}
.footer-wrap {
  display: flex;
  padding: 0 1rem;
  button {
    display: flex;
    align-items: center;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: 0.8rem;
    border: rgba(0, 0, 0, 0.4);
    &:not(:disabled):hover {
      color: $primary;
    }
  }
  button:first-child {
    margin-left: 0;
  }
}
.align-center {
  display: flex;
  align-items: center;
}
.comment-wrapper {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  display: flex;
  input {
    background: transparent;
    border: none;
    padding: 0 1rem;
    color: #000;
    width: 100%;
    letter-spacing: 1px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
.comments {
  overflow: hidden;
  .wrap {
    padding: 1rem;
  }
}
.comment-box {
  margin: 1rem 0;
  width: 80%;
  .comment-item {
    .head-wrap {
      padding: 0.5rem;
    }
    .main-body {
      padding: 1rem;
      padding-top: 0;
    }
    .profile-icon {
      height: 50px;
      width: 50px;
    }
    .profile-detail {
      padding: 0.6rem;
      .head {
        font-size: 0.8rem;
      }
    }
  }
  &.myComment {
    margin-left: auto;
  }
}
.comment-item {
  display: block;
  border: 1px solid rgba($primary, 0.4);
  background: rgba(black, 0.05);
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba($primary, 0.2);
}
button.liked {
  color: $primary;
}
.commmentActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem;
  & > * {
    margin: 5px;
  }
  a {
    text-transform: uppercase;
    color: $primary;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      color: darken($primary, 20%);
    }
  }
  span {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: $primary;
  }
}
.reply-box {
  overflow: hidden;
  .comment-wrapper {
    margin: 5px;
    padding: 0;
  }
}
.child-comment {
  width: 80%;
  &.myComment {
    margin-left: auto;
  }
}
