<div style="width: 100%; height: 40px">
  <div class="quick-nav-container">
    <div class="quick_nav">
      <div class="nav-btn" [routerLink]="['/',links.feedPath]" [ngClass]="{'active': home}">
        <div class="btn-ctn">
          <img src="/assets/home.svg" alt="">
        </div>
        <div class="title">Home</div>
      </div>
      <div class="nav-btn" [routerLink]="['/',links.explorePath]" [ngClass]="{'active': explore}">
        <div class="btn-ctn">
          <img src="/assets/safari.svg" alt="">
        </div>
        <div class="title">Explore</div>
      </div>
      <div class="nav-btn" (click)="createCommunity()">
        <div class="btn-ctn" style="width: 26px; ">
          <img src="/assets/add.png" alt="">
        </div>
        <div class="title">Create</div>
      </div>
      <!-- <div class="nav-btn" [ngClass]="{'active': music}" [routerLink]="['/',links.communityPath,'youtube-music--7204285218705300364']">
        <div class="btn-ctn">
          <img src="/assets/music.svg" alt="">
        </div>
        <div class="title">Music</div>
      </div> -->
      <div class="nav-btn" [ngClass]="{'active': profile}" [routerLink]="['/user/',profileLink]">
        <div class="btn-ctn">
          <img src="/assets/user.svg" alt="">
        </div>
        <div class="title">Profile</div>
      </div>
    </div>
  </div>
</div>