<div class="link-card box" *ngIf="!mobileView">
  <h3>Joined Communities
  </h3>
  <ng-container *ngIf="loadingCommunities">
    <div class="list-item" *ngFor="let i of listItems">
      <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="w-100" count="1" appearance="line"></ngx-skeleton-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="joinedCommunity?.length">
    <div class="links" *ngFor="let item of joinedCommunity">
      <div class="icon" [routerLink]="['/', communityPath, item.slug]">
        <img [src]="checkImageUrl(item.avatarDTO.avatarLink)" alt="">
      </div>
      <a class="link" [routerLink]="['/', communityPath, item.slug]">{{item.communityName}}</a>
    </div>
    <div class="row" *ngIf="joinedCommunity?.length === 5">
      <div class="col-4">
      </div>
      <div class="col-8">
        <app-view-more-button (click)="openCommunityDialog(joinedCommunity)">
        </app-view-more-button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!joinedCommunity?.length && !loadingCommunities">
    <p>
      You have not created any communities yet. Create one now.
    </p>
  </ng-container>
</div>

<div class="mobile-view-joined-community" *ngIf="mobileView">
  <div class="user-owned-community">
    <h5>Joined Communities.
      <div class="mobile-create-btn">
        <mat-icon (click)="openCommunityDialog(joinedCommunity)" *ngIf="joinedCommunity?.length > 2">arrow_forward
        </mat-icon>
      </div>
    </h5>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let list of joinedCommunity;let i=index">
        <ng-template carouselSlide [id]="i">
          <app-community-card-mobile-view [community]="list"></app-community-card-mobile-view>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <!--    <div class="mobile_action_btn" *ngIf="!loadingCommunities" >-->
    <!--      <button mat-stroked-button (click)="openCommunityDialog(joinedCommunity)">Load more</button>-->
    <!--    </div>-->
    <!--loader-->
    <div class="row card-loader" *ngIf="loadingCommunities">
      <div class="col">
        <app-community-card-loader></app-community-card-loader>
      </div>
      <div class="col">
        <app-community-card-loader></app-community-card-loader>
      </div>
    </div>
    <!--loader ends-->
  </div>

</div>