@import "../variables";

.link-card {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  .header {
    font-size: 16px;
    font-weight: 500;
    color: $heading;
    display: flex;
    justify-content: space-between;
  }
  .links {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    .icon {
      max-width: 25px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      height: 25px;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
      }
    }
    .link {
      font-weight: 500;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}

footer {
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      font-weight: 500;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    opacity: 0.4;
  }
}
.list-item {
  display: flex;
  align-items: center;
}
img {
  max-width: 100%;
}

.mobile-view-joined-community{
  margin: 20px 0;
  position: relative;
  .mobile-create-btn{
    position: absolute;
    right: 1%;
    top: 0;
    display: flex;
    align-items: center;
    mat-icon{
      margin: 0 4px;
    }
  }
  .mobile_action_btn{
    text-align: center;
    button {
      background: white;
      color: $black;
    }
  }
}

.community-counts{
  font-size: 0.8rem;
}