@import "../variables";

.mobile-nav-container {
    display: flex;
    width: 100%;
    position: fixed;
    background: $heading;
    color: $white;
    font-size: 1.2rem;
    z-index: 1;
    padding: 6px;
    border-bottom: 2px solid $primary;
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .back-button {
        position: absolute;
        top: 0px;
        left: 10px;
    }
}

// To add margin below nav space to avoid overlapping of the div elements
.mobile-nav-space {
    margin-bottom: 3rem;
}
