<div class="profile-icon">
  <img [src]="comment.userActorDTO?.avatarDTO?.avatarLink ?
  comment.userActorDTO?.avatarDTO?.avatarLink : 'assets/default.jpg'" alt="">
</div>
<div>
  <!-- <div class="head-wrap"> -->
  <div class="profile-detail">
    <div class="head">{{comment.userActorDTO?.username}}</div>
    <div class="comment-object">
      <div class="comment-left-part">
        {{comment.commentObject}}
      </div>
      <div class="comment-trash" *ngIf="allowDelete()" (click)="deleteComment()">
        <img src="assets/trash-can.svg" (mouseover)="hover()" (mouseout)="unhover()" #commentTrash />
      </div>
    </div>
    <app-attached-file [attachedFileLinkList]="comment.commentMediaList" #attachedFileComponent></app-attached-file>
  </div>
  <!-- </div> -->
  <div class="commmentActions">
    <a (click)="likeComment(comment.commentActionId)"
      [innerHTML]="comment?.commentActionMeta?.liked? 'liked':'like'"></a>
    <span></span>
    <a
      (click)="replyTo(comment.userActorDTO?.username, comment.commentActionId, parentComment?.commentActionId)">Reply</a>
    <span></span>
    <app-time-string [metaData]="comment.metaData"></app-time-string>
  </div>
</div>