@import "../../../variables";

.comment-box-wrapper {
  display: flex;
  max-width: 100%;
  .comment-box-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .profile-detail {
      padding: 0.5rem;
      margin: 0 0.5rem;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
    .head {
      font-size: 0.9rem;
    }
    .comment-object {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .comment-left-part {
      }
    }
    .comment-actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0.5rem;
      font-size: 12px;
      & > * {
        margin: 0 5px;
      }
      a {
        text-transform: uppercase;
        color: $primary;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          color: darken($primary, 20%);
        }
      }
      span {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $primary;
      }
    }
  }
}
