<div class="link-card box">
  <h3>Trending Communities
  </h3>
  <ng-container *ngIf="loadingCommunities">
    <div class="list-item" *ngFor="let i of listItems">
      <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="w-100" count="1" appearance="line"></ngx-skeleton-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="trendingCommunityList?.length">
    <div class="links" *ngFor="let item of trendingCommunityList">
      <app-profile-icon [avatarLink]="item.avatarDTO.avatarLink" [height]="35"
        [routerLink]="['/', communityPath, item.slug]">
      </app-profile-icon>
      <a class="link" [routerLink]="['/', communityPath, item.slug]">{{item.communityName}}</a>
    </div>
  </ng-container>
  <ng-container *ngIf="!trendingCommunityList?.length && !loadingCommunities">
    <p>
      We don't have enough data
    </p>
  </ng-container>
</div>