@import "../../variables";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  position: relative;
  &:hover {
    .remove {
      visibility: visible;
      opacity: 1;
    }
  }
}
.remove {
  position: absolute;
  right: -10px;
  opacity: 0;
  visibility: hidden;
}

.profile-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  img {
    width: auto;
    height: 100%;
  }
  .type {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid $primary;
    right: 0;
    bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
  }
}
.profile-detail {
  padding: 0 0.6rem;
  font-size: 14px;
  .head {
    font-weight: 500;
  }
  .subhead {
    color: $primary;
  }
}

.profile-icon {
  height: 45px;
  width: 45px;
  min-width: 45px;
  max-width: 45px;
  margin: 0.4rem 0;
}
.profile-detail {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
