<div class="menu-container" [ngClass]="[isOpen ? 'expanded' : '', forceHide ? 'force-hide' : '']"
    (click)="actionMenu?.onClick($event)" (mouseover)="handleToggleOpenState()" (mouseout)="handleClosePopover()"
    #containerRef>
    <button class="button main-button" (click)="clickDelayer($event)" #buttonRef>
        <img class="main-icon" draggable="false" [src]="actionMenu?.mainImg" />
        {{actionMenu?.mainTitle}}
    </button>
    <div class="more-buttons-outer">
        <div class="more-buttons">
            <div *ngFor="let actionMenuButton of actionMenuButtons;">
                <button class="button more-button" (click)="actionMenuButton.onClick($event)">
                    <img class="more-icon" draggable="false" [src]="actionMenuButton?.img" />
                    {{actionMenuButton.title}}
                </button>
            </div>
        </div>
    </div>
</div>