<div class="feeds-loader-wrapper box">
  <div class="head-wrap">
    <div class="profile-icon">
      <ngx-skeleton-loader count="1" appearance="circle"> </ngx-skeleton-loader>
    </div>
    <div class="profile-detail w-100">
      <div class="w-50">
        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
      </div>
      <div class="w-25">
        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="p-4">
    <ngx-skeleton-loader count="3" appearance="line"> </ngx-skeleton-loader>
    <div class="w-25">
      <ngx-skeleton-loader class="w-25" count="1" appearance="line"> </ngx-skeleton-loader>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="w-25">
      <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
    </div>
    <div class="w-25">
      <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
    </div>
    <div class="w-25">
      <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
    </div>
  </div>
</div>