@import "../../variables";

.faq-wrapper {
    // margin: 0.5rem 0rem;
    background: $white;
    .faq-container {
        border-radius: 5px;
        padding: 10px;
        margin-top: 60px;
        min-height: calc(100vh - 70px);
    }
}
.faq-wrapper.desktop {
    width: 70%;
}
.faq-wrapper.mobile {
    width: 100%;
}

.template-container {
    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .header-part {
            flex: 70%;
            color: $heading;
            font-weight: bold;
            border-bottom: 2px solid $gray;
            padding-bottom: 10px;
            margin-right: 10px;
            .header {
            }
            .header.desktop {
                font-size: 1.6rem;
                display: inline-flex;
            }
            .header.mobile {
                font-size: 1.4rem;
                display: block;
            }
        }
        .search-control {
            flex: 30%;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: flex-end;
            input[type="text"] {
                width: 100%;
                max-width: 250px;
                text-align: end;
                background-color: $input-field-background-color;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                outline: none;
                padding: 10px 20px;
                border: 1px solid $gray;
            }

            input[type="text"]:focus {
                box-shadow: 0 0 5px $heading;
                padding: 10px 20px;
                border: 1px solid $heading;
            }
        }
    }
    .template-desciption {
        color: $secondary-font-color;
        padding: 10px 0px;
        font-weight: 400;
    }
    .mat-paginator {
        background-color: $input-field-background-color;
    }
    .mat-paginator-range-label {
        display: none;
    }
    .no-data {
        text-align: center;
        padding: 10px;
        font-size: 1.1rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
            color: $heading;
        }
    }
}

.template-content {
}

.template-content.mobile {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.template-content.desktop {
    width: 50%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.template-container.desktop {
    margin: 10px 40px;
}

.template-container.mobile {
    margin: 10px 10px;
}

.template-footer {
    display: flex;
    flex-direction: column;
}
