@import "./src/app/variables";

.t-tooltip{
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 200px ;
  box-shadow: 7px 11px 23px 1px rgba(27, 29, 31, 0.2);
  z-index: 2;
  color: #000000;
  padding: 10px;
  background: $text-white;
  top: 0;
  left: 100%;
}
//.t-tooltip::before {
//  content: '';
//  display: block;
//  height: 0;
//  position: absolute;
//  border-bottom: 20px solid transparent;
//  left: 6px;
//  bottom: -20px;
//  border-left: 18px solid $text-white;
//}

