<app-user-header (notificationEmitter)="notificationListener($event)"></app-user-header>

<div class="community-wrapper page-scroll hide-scrollbar">
  <div class="site-body" [ngClass]="{'mobile': mobileView}">
    <div class="container">
      <div class="flex-frame" #communityFeed>
        <div class="flex-7" [ngClass]="{'mobile' : mobileView}">
          <div class="community-feeds-container">
            <div class="com-ban-img-container" [ngClass]="!communityImage ? 'com-avatar-height' : ''">
              <!--            <div *ngIf="mobileView" class="community_owner">-->
              <!--              <div class="owner-img" (click)="navigate(communityDTO?.ownerUserDTO?.slug)">-->
              <!--                <img [src]="communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink ? communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink: '/assets/default.jpg' "-->
              <!--                     [alt]="communityDTO?.ownerUserDTO?.username">-->
              <!--              </div>-->
              <!--            </div>-->
              <div class="change-comm-img">
                <mat-icon (click)="previewImage()" *ngIf="owner == 'owned'">camera</mat-icon>
                <app-img-cropper-wrapper [isCommunityAvatar]="true" (imageDataEvent)="imageDataReceiver($event)"
                  [aspectRatio]="12 / 4" #imageCropperRef>
                </app-img-cropper-wrapper>
                <!-- <input type="file" style="display: none" id="communityImageSrc" (change)="onFileChange($event)"> -->
              </div>
              <img [src]="communityImage" alt="banner" class="comm-ban-img" [ngClass]="{'d-none': !communityImage}">
              <!--            <img [src]="comUpdatedAvatar" alt="editedImage" *ngif="!isImageEdited">-->
              <div class="com-ban-overlay"></div>
              <div class="com-head-container">
                <h1>
                  <mat-icon *ngIf="isCommunityPrivate">lock</mat-icon>
                  {{communityDTO?.communityName}}
                </h1>
                <h3 (click)="openCommunityDesc()">{{description}}
                </h3>
              </div>
            </div>
          </div>
          <!--        <div class="row">-->
          <!--          <div class="col-md-3">-->
          <!--            <div *ngIf="mobileView" class="community_owner">-->
          <!--              <div class="owner-img" (click)="navigate(communityDTO?.ownerUserDTO?.slug)">-->
          <!--                <img [src]="communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink ? communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink: '/assets/default.jpg' "-->
          <!--                     [alt]="communityDTO?.ownerUserDTO?.username">-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-md-9">-->
          <!--          </div>-->
          <!--        </div>-->
          <app-community-users [community]="communityDTO"
            [relationshipType]="communityDTO.communityMeta.relationShipType" [userListType]="'ribbon'"
            *ngIf="mobileView" #communityUsersComponentRef>
          </app-community-users>
          <div *ngIf="mobileView" class="action-mobile-view">
            <div class="requests" *ngIf="owner==='owned'">
              <mat-icon [matBadge]="pendingRequests" *ngIf="pendingRequests!==0" matBadgeColor="warn"
                (click)="openUserGroupDialog(userListTypeClass.requests)">group</mat-icon>
              <mat-icon *ngIf="pendingRequests===0" (click)="openUserGroupDialog(userListTypeClass.requests)">group
              </mat-icon>
            </div>
            <app-community-relation-action-button *ngIf="owner !== 'owned'" [relation]="owner" [mobileView]="mobileView"
              [communityName]="communityDTO.communityName" [communityId]="communityDTO.communityId"
              (actionEvent)="actionEvent($event)">
            </app-community-relation-action-button>
            <div>
              <button mat-stroked-button [matMenuTriggerFor]="menu"
                style="border-radius: 30px; border:none; background: #ffffff">
                More
              </button>
              <div class="float-right settings" *ngIf="owner==='owned' && mobileView" [matMenuTriggerFor]="settings">
                <mat-icon>settings</mat-icon>
              </div>
            </div>
          </div>
          <div class="com-dets">
            <div class="btn-container" *ngIf="!mobileView">
              <!--            <button mat-stroked-button> Owner</button>-->
              <button mat-stroked-button [matMenuTriggerFor]="menu" style="border-radius: 30px; border:none;">
                More
              </button>
            </div>
            <div class="btn-container float-right" *ngIf="!mobileView && owner !== 'owned'">
              <app-community-relation-action-button [mobileView]="mobileView"
                [communityName]="communityDTO.communityName" [relation]="owner" [communityId]="communityDTO.communityId"
                (actionEvent)="actionEvent($event)" [communityType]="communityDTO.communityPrivacy">
              </app-community-relation-action-button>
            </div>
            <div class="float-right settings" *ngIf="owner==='owned' && !mobileView" [matMenuTriggerFor]="settings">
              <mat-icon>settings</mat-icon>
            </div>
            <mat-menu #settings="matMenu" xPosition="after">
              <div>
                <button mat-menu-item (click)="openCommunityDesc()">
                  <mat-icon>edit</mat-icon>
                  Edit Community
                </button>
                <button mat-menu-item (click)="communityPrivacyDialog()">
                  <span *ngIf="isCommunityPrivate">
                    <mat-icon>lock_open</mat-icon>
                    Make public
                  </span>
                  <span *ngIf="!isCommunityPrivate">
                    <mat-icon>lock</mat-icon>
                    Make private
                  </span>
                </button>
              </div>
            </mat-menu>
          </div>
          <div class="flex-view">
            <div class="flex-3" *ngIf="!mobileView">
              <app-user-profile-card [avatar]="communityDTO?.ownerUserDTO?.avatarDTO"
                [userBannerImage]="communityDTO.ownerUserDTO?.banner?.avatarLink" [relationship]="owner"
                [userId]="communityDTO?.ownerUserDTO?.userId" [username]="communityDTO?.ownerUserDTO?.username"
                [slug]="communityDTO?.ownerUserDTO?.slug"></app-user-profile-card>
              <!-- <horizontal-owner-profile *ngIf="owner !== 'owned'" [user]="communityDTO?.ownerUserDTO">
              </horizontal-owner-profile>
              <app-user-question-list [totalQuestions]="communityInfo?.totalQuestions" #questionList>
              </app-user-question-list> -->
              <app-floating-footer></app-floating-footer>
            </div>
            <div class="flex-7">
              <div class="community-feeds last-feed" [ngClass]="mobileView ? 'mobile': 'desktop'">
                <!--              <app-post-feed (postData)="postFeed($event)" [isCommunityPost]=true-->
                <!--                [communityId]="communityDTO?.communityId" *ngIf="owner === 'owned' || owner ==='followed'">-->
                <!--              </app-post-feed>-->
                <horizontal-owner-profile *ngIf="mobileView && owner !== 'owned'" [user]="communityDTO?.ownerUserDTO">
                </horizontal-owner-profile>
                <app-community-activity [actAlone]="false" #communityActivity></app-community-activity>
                <app-user-question-list *ngIf="mobileView" [totalQuestions]="communityInfo?.totalQuestions"
                  #questionList>
                </app-user-question-list>
                <div *ngIf="isAllowedIntoCommunity">
                  <app-post-feeds (postData)="postFeed($event)" [isCommunityPost]="true"
                    [communityId]="communityDTO?.communityId" *ngIf="owner === 'owned' || owner ==='followed'"
                    [type]="'Create'"></app-post-feeds>
                  <!--              <app-usercommunity [userId]="loggedInUserId" [relation]="owner"></app-usercommunity>-->
                  <div id="community-feed"></div>
                  <ng-container *ngIf="userFeeds?.length; else noFeeds">
                    <div class="feed-wrap" *ngFor="let feed of userFeeds let idx = index; trackBy: trackItem">
                      <!-- <div *ngIf="mobileView && userFeeds.length > 4 && idx === 2">
                        <app-joined-community></app-joined-community>
                      </div> -->
                      <div *ngIf="mobileView && userFeeds.length > 5 && idx === 2">
                        <app-sponsored></app-sponsored>
                      </div>
                      <div *ngIf="mobileView && userFeeds.length > 5 && idx === 7">
                        <app-suggestion></app-suggestion>
                      </div>
                      <div *ngIf="feed.postType !== 'question'">
                        <app-recommended-feeds [showUserHeader]="showUserHeader"
                          (removePostEvent)="removePostNotify($event)" *ngIf="feed" [feed]="feed">
                        </app-recommended-feeds>
                      </div>
                      <div *ngIf="feed.postType === 'question'">
                        <app-question-ui [question]="feed" (removePostEvent)="removePostNotify($event)"
                          [questionParentType]="questionParentTypeClass.communityPage">
                        </app-question-ui>
                      </div>
                    </div>
                    <p class="text-center" *ngIf="userFeeds?.length===1 && userFeeds[0] === null">No Feeds Found...!</p>
                  </ng-container>
                  <app-feeds-loader *ngIf="loading"></app-feeds-loader>
                  <ng-template #noFeeds>
                    <p class="text-center" style="margin-top :30px"
                      *ngIf="userFeeds?.length <= 0 && userFeeds[0] === null">
                      No Feeds Found...!
                    </p>
                  </ng-template>


                </div>
                <div *ngIf="!isAllowedIntoCommunity" class="error-private">
                  <mat-icon>report</mat-icon>
                  <span>
                    To view community posts, please join the community or&nbsp;
                    <a [routerLink]="['/',explorePath]">explore</a>&nbsp;trending
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="flex-3 right-part" *ngIf="!mobileView">
          <!--        <app-create-community-btn [type]="'card'"></app-create-community-btn>-->
          <app-community-users [community]="communityDTO" (pendingRequestCount)="updatePendingRequestCount($event)"
            [relationshipType]="communityDTO.communityMeta.relationShipType" [userListType]="'list'"
            #communityUsersComponentRef>
          </app-community-users>
          <app-user-question-list [totalQuestions]="communityInfo?.totalQuestions" #questionList>
          </app-user-question-list>
          <!-- <app-usercommunity [userId]="loggedInUserId" [relation]="owner"></app-usercommunity> -->
          <app-suggestion></app-suggestion>
          <!-- <app-trending [mobileView]="mobileView"></app-trending> -->
          <app-sponsored></app-sponsored>
        </div>
      </div>
    </div>
  </div>
</div>
<app-floating-mobile-nav [url]="communitySlug" *ngIf="mobileView"></app-floating-mobile-nav>

<app-post-notification-container *ngIf="communityDTO" [community]="communityDTO"
  (fetchNewPostsFromNotification)="postFeed($event)" #communityPostNotification>
</app-post-notification-container>

<mat-menu #menu="matMenu" xPosition="after">
  <div>
    <button mat-menu-item *ngIf="(owner===owned)"
      (click)="openUserGroupDialog(userListTypeClass.inviteUserList)">Invite</button>
    <button mat-menu-item (click)="openShareDialog()">
      <mat-icon>screen_share</mat-icon>
      Share
      <!--      on other platforms-->
    </button>
    <button mat-menu-item [cdkCopyToClipboard]="commonService.getCommunitySharableLink(communityDTO.slug)"
      (cdkCopyToClipboardCopied)="copyLinkOfCommunity($event)">
      <mat-icon>content_copy</mat-icon>
      Copy Link
    </button>
  </div>
</mat-menu>