@import "../variables";
@import "../z-index";
@import "../app.component.scss";
// To show content properly below the user-header
$margin-top: 20px;

.padding-top {
  padding-top: $margin-top;
}
.container {
  padding: 0 100px;
}

.community-page-wrapper {
  overflow: hidden;
  display: flex;
  width: 100%;
  section {
    max-height: 100vh;
    top: 0;
    position: sticky;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  section.community-left-wrapper {
    // 1% used to let adjust it
    flex: 69%;
    margin-right: 10px;
  }
  section.community-left-wrapper.desktop {
    max-width: 69%;
  }
  section.community-right-part {
    flex: 30%;
    max-width: 30%;
  }
  .community-feeds-container {
    display: flex;
    section.feeds-left-part {
      flex: 30%;
      max-width: 30%;
      margin-right: 10px;
      // To show this padding while scrolling
      padding-top: $margin-top;
    }
    .community-feeds {
      flex: 70%;
    }
    .community-feeds.desktop {
      max-width: 70%;
    }
  }
  .mat-menu-item {
    font-size: 13px;
    padding: 0 12px !important;
    line-height: 10px;
    height: 38px;
  }

  .mat-menu-item {
    mat-icon {
      margin-right: 3px !important;
      font-size: 18px;
      position: relative;
      top: 2px;
    }
  }
}

.container.mobile {
  padding: 0px !important;
  section.community-left-wrapper {
    width: calc(100% - 10px);
    margin: 0 auto;
    flex: unset;
  }
  .community-feeds-container {
    .community-feeds {
      flex: unset;
      width: 100%;
    }
  }
}

.feed-wrap {
  margin: 0.5rem 0;
}

.community-feeds {
  .community-activity.desktop {
    margin: auto 20px 20px;
  }
  .community-activity.mobile {
    margin: 15px auto;
  }
}

.community-banner-wrapper {
  padding-top: $margin-top;
  .com-avatar-height {
    min-height: 130px;
  }
  .community-banner-container {
    width: 100%;
    // height: 130px;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: $svg-background;

    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      max-height: 290px;
    }

    .com-head-container {
      position: absolute;
      width: 100%;
      bottom: -30px;
      padding: 10px 20px;
      transition: all 500ms ease-in-out;

      h1 {
        mat-icon {
          position: relative;
          top: 3px;
          transition: all 500ms;
        }
      }
    }

    h1 {
      width: 100%;
      color: #f9fcfd;
      padding-left: 10px;
      border-left: 3px solid #ff5252;
      font-size: 20px;
      font-family: $default-font;
    }

    h3 {
      font-size: 14px;
      color: #fff;
      margin-left: 25px;
      font-family: serif;
      //transition: all 500ms;
      opacity: 0;
      //display: none;
      -webkit-transform: rotateX(10deg) scale(1.03);
      transform: rotateX(10deg) scale(1.03);
      box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.8);
      z-index: 1;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      cursor: pointer;
    }

    .change-comm-img {
      color: $heading;
      opacity: 0.4;
      width: auto;
      position: absolute;
      top: 0%;
      right: 0%;
      transition: all 500ms ease-in-out;
      cursor: pointer;
      mat-icon {
        margin: 14px;
      }
    }
  }

  .community-banner-container:hover .change-comm-img {
    opacity: 1;
    transform: rotate(-90deg);
  }

  .change-comm-img:hover .change-comm-img mat-icon {
    transform: rotate(-90deg);
  }

  .community-banner-container:hover .com-head-container {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  .community-banner-container:hover h3 {
    opacity: 1;
    display: block;
  }
  .com-ban-overlay {
    position: absolute;
    height: 35%;
    width: 100%;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
    background: linear-gradient(rgba(0, 0, 0, 0), $black);
  }
}

.com-dets {
  margin: 10px 0;

  button {
    background: $white;
    //margin: 0 8px;
  }

  .btn-container {
    display: inline-block;
    width: calc(50%);
  }

  .float-right {
    text-align: right;
    position: relative;
  }
}

.community-actions.mobile {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  app-community-relation-action-button {
    width: 100%;
  }
}

.settings {
  padding: 8px;
  color: $primary;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 50%;
  //border: 1px solid $primary;
  background: $white;

  mat-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

.requests {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 6px 7px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.error-private {
  text-align: center;
  color: $gray-font;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $link-primary;
  }
}

// .make-fixed {
//   top: calc(#{$header-height} + #{$community-nav-height});
//   // bottom: 0;
//   position: fixed;
//   overflow: auto;
//   z-index: 1000;
//   background: $fixed-sections;
//   padding: 1vh 0 0;
//   // margin: 10px 10px;
//   border-radius: 10px;
//   max-width: inherit;
//   // border: 2px solid $heading;
//   box-shadow: 1px 1px 10px $gray;
//   animation: slide-up-down 0.8s forwards;
//   .fixed-body {
//     overflow-y: scroll;
//     max-height: 90vh;
//   }
//   .sponsored {
//     margin: 0px 3vw;
//     display: flex;
//     justify-content: center;
//   }
//   .fixed-footer {
//     border: 1px solid $fixed-sections;
//     border-radius: 0px 0px 10px 10px;
//     position: relative;
//     bottom: 0;
//     background: $background-transparent;
//     left: 0;
//   }
// }
// .make-fixed.left {
//   // left: 0;
//   .fixed-body {
//     padding: 0.6rem 0.6rem 10vh;
//   }
// }
// .make-fixed.right {
//   // right: 0;
//   .fixed-body {
//     padding: 0.6rem 0.6rem 0vh;
//   }
// }

// .fixed-community-header {
//   position: fixed;
//   background: $white;
//   border-bottom: 2px solid $gray;
//   width: 100%;
//   padding-top: 2px;
//   border-top: 1px solid $gray;
// }
// .show-community-header {
//   @extend .fixed-community-header;
//   display: block;
//   animation: show-header 1s forwards;
// }
// @keyframes show-header {
//   from {
//     top: 0;
//     z-index: 0;
//   }
//   to {
//     top: $nav-height;
//     z-index: $community-navbar;
//   }
// }

// .hide-community-header {
//   @extend .fixed-community-header;
//   animation: hide-header 0.5s forwards;
// }

// @keyframes hide-header {
//   from {
//     top: $nav-height;
//     z-index: $community-navbar;
//   }
//   to {
//     top: 0;
//     z-index: 0;
//     visibility: hidden;
//   }
// }

// @keyframes slide-up-down {
//   10% {
//     transform: translate3d(0, -10px, 0);
//   }

//   90% {
//     transform: translate3d(0, 8px, 0);
//   }
// }
