<app-user-header></app-user-header>

<div class="site-body" [ngClass]="{'site-body-mobile': mobileView}">
  <div class="container">
    <div class="flex-frame">
      <div class="flex-7" [ngClass]="{'flex-7-mobile' : mobileView}">
        <div class="community-feeds-container">
          <div class="com-ban-img-container">
            <!--            <div *ngIf="mobileView" class="community_owner">-->
            <!--              <div class="owner-img" (click)="navigate(communityDTO?.ownerUserDTO?.slug)">-->
            <!--                <img [src]="communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink ? communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink: '/assets/default.jpg' "-->
            <!--                     [alt]="communityDTO?.ownerUserDTO?.username">-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="change-comm-img">
              <mat-icon (click)="previewImage()" *ngIf="owner == 'owned'">camera</mat-icon>
              <app-img-cropper-wrapper (imageDataEvent)="imageDataReceiver($event)" [aspectRatio]="12 / 4"
                #imageCropperRef>
              </app-img-cropper-wrapper>
              <!-- <input type="file" style="display: none" id="communityImageSrc" (change)="onFileChange($event)"> -->
            </div>
            <img [src]="communityImage" alt="banner" class="comm-ban-img" *ngIf="communityImage">
            <!--            <img [src]="comUpdatedAvatar" alt="editedImage" *ngif="!isImageEdited">-->
            <div class="com-ban-overlay"></div>
            <div class="com-head-container">
              <h1>{{communityDTO?.communityName}}</h1>
              <h3 (click)="openCommunityDesc()">{{description}}
              </h3>
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-3">-->
        <!--            <div *ngIf="mobileView" class="community_owner">-->
        <!--              <div class="owner-img" (click)="navigate(communityDTO?.ownerUserDTO?.slug)">-->
        <!--                <img [src]="communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink ? communityDTO?.ownerUserDTO?.avatarDTO?.avatarLink: '/assets/default.jpg' "-->
        <!--                     [alt]="communityDTO?.ownerUserDTO?.username">-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-md-9">-->
        <!--          </div>-->
        <!--        </div>-->
        <app-community-users [communitySlug]="communityDTO?.slug" [userListType]="'ribbon'" *ngIf="mobileView"
          #communityUsersComponentRef>
        </app-community-users>
        <div *ngIf="mobileView && owner !== 'owned'" class="action-mobile-view">
          <app-community-relation-action-button [relation]="owner" [communityId]="communityDTO.communityId"
            (actionEvent)="actionEvent($event)">
          </app-community-relation-action-button>
          <div>
            <button mat-stroked-button [matMenuTriggerFor]="menu">
              More
            </button>
          </div>
        </div>
        <div class="com-dets">
          <div class="btn-container" *ngIf="!mobileView">
            <!--            <button mat-stroked-button> Owner</button>-->
            <button mat-stroked-button [matMenuTriggerFor]="menu">
              More
            </button>
          </div>
          <div class="btn-container float-right" *ngIf="!mobileView && owner !== 'owned'">
            <app-community-relation-action-button [relation]="owner" [communityId]="communityDTO.communityId"
              (actionEvent)="actionEvent($event)">
            </app-community-relation-action-button>
          </div>
        </div>
        <div class="flex-view">
          <div class="flex-3" *ngIf="!mobileView">
            <app-user-profile-card [avatar]="communityDTO?.ownerUserDTO?.avatarDTO"
              [relationship]="communityDTO?.ownerUserDTO?.userMeta?.relationShipType"
              [userId]="communityDTO?.ownerUserDTO?.userId" [username]="communityDTO?.ownerUserDTO?.username"
              [slug]="communityDTO?.ownerUserDTO?.slug"></app-user-profile-card>
            <app-floating-footer></app-floating-footer>
          </div>
          <div class="flex-7">
            <div class="community-feeds">
              <app-post-feed (postData)="postFeed($event)" [isCommunityPost]=true
                [communityId]="communityDTO?.communityId" *ngIf="owner === 'owned' || owner ==='followed'">
              </app-post-feed>
              <!--              <app-usercommunity [userId]="loggedInUserId" [relation]="owner"></app-usercommunity>-->
              <ng-container *ngIf="userFeeds?.length; else noFeeds">
                <div class="feed-wrap" *ngFor="let feed of userFeeds let idx = index; trackBy: trackItem">
                  <div *ngIf="mobileView && userFeeds.length > 4 && idx === 2">
                    <app-joined-community></app-joined-community>
                  </div>
                  <div *ngIf="mobileView && userFeeds.length > 5 && idx === 7">
                    <app-sponsored></app-sponsored>
                  </div>
                  <div *ngIf="mobileView && userFeeds.length > 5 && idx === 10">
                    <app-suggestion></app-suggestion>
                  </div>
                  <app-recommended-feeds (removePostEvent)="removePostNotify($event)" *ngIf="feed" [feed]="feed">
                  </app-recommended-feeds>
                </div>
                <p class="text-center" *ngIf="userFeeds?.length===1 && userFeeds[0] === null">No Feeds Found...!</p>
              </ng-container>
              <app-feeds-loader *ngIf="loading"></app-feeds-loader>
              <ng-template #noFeeds>
                <p class="text-center" style="margin-top :30px" *ngIf="userFeeds?.length <= 0 && userFeeds[0] === null">
                  No Feeds Found...!
                </p>
              </ng-template>

            </div>
          </div>
        </div>
      </div>


      <div class="flex-3" *ngIf="!mobileView">
        <app-create-community-btn [type]="'card'"></app-create-community-btn>
        <app-community-users [communitySlug]="communityDTO?.slug" [userListType]="'list'" #communityUsersComponentRef>
        </app-community-users>
        <app-usercommunity [userId]="loggedInUserId" [relation]="owner"></app-usercommunity>
        <app-suggestion></app-suggestion>
        <app-trending></app-trending>
        <app-sponsored></app-sponsored>
      </div>
    </div>
  </div>
</div>
<app-floating-mobile-nav [url]="communitySlug" *ngIf="mobileView"></app-floating-mobile-nav>

<mat-menu #menu="matMenu" xPosition="before">
  <div>
    <button mat-menu-item *ngIf="!mobileView">Invite</button>
    <button mat-menu-item (click)="copyLinkOfPost()">
      Copy Link
    </button>
  </div>
</mat-menu>