@import "../../variables";

.container {
  height: 100%;
  position: relative;
  padding-top: 54px;
}
.heading {
  color: $heading;
  text-align: center;
}
.center {
  max-width: 550px;
  margin: 0 auto;
  //margin: 0;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //-ms-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%);
}

.bg-container {
  padding: 20px;
  //min-width: 500px;
  background: $white;
  border-radius: 10px;
  button {
    margin-bottom: 10px;
  }
}
.alert-success {
  color: #29ab45;
  background-color: #d7f8de;
  border-color: #40ff1e;
}

.title {
  text-align: center;
}
.act-button {
  background: $heading !important;
  color: $white !important;
}
