@import "../variables";

section {
  margin: 2rem 0;
  padding: 1rem 1rem;
}
img {
  max-width: 100%;
  margin-bottom: 20px;
}
hr {
  background-color: #cdcdcd;
}
.container-footer{
  width: calc(100% - 150px);
  padding: 40px;
  margin: 0 auto;
}
.login-wrap {
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
  max-width: 500px;
  overflow: auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}
.banner-heading {
  font-family: serif;
  //height: 154px;
  font-size: 66px;
  color: #f9fcfd;
  margin-top: 125px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}
.banner-subheading {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.78;
  color: #f9fcfd;
  margin: 0 !important;
  letter-spacing: 1px;
}

.search {
  margin-top: 33px;
  width: 414px;
  height: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border: none;
}
.search::placeholder {
  width: 66px;
  height: 19px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #9b9b9b;
}
.search-btn {
  width: 20px !important;
  height: 45px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(98%, #ff2d55),
    color-stop(7%, #ff4500)
  );
  position: relative;
  top: 4px;
  line-height: 43px;
  color: #ffffff;
}

.hashtags {
  padding: 8px 0px !important;
  float: left;
  color: #fff;
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-style: italic;
}
ul.hashtags li {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  color: #8d8d8d;
  padding: 0 !important;
}
li:before {
  content: "" !important;
}
.myGridList {
  height: 640px;
}
.banner_image {
  //background-image: url(/assets/banner.jpg);
  //height: inherit;
  //background-size: contain;
  //background-repeat: no-repeat;
  width: 530px;
  height: 562px;
  margin: 0 auto;
}

.login-form {
  background-color: #ffffff;
  position: relative;
  top: 12%;
  /* right: 5%; */
  border-radius: 2px;
  width: 90%;
}

.login-form-container {
  padding: 10px 30px 10px;
}
.login-form h3 {
  margin-bottom: 4px;
  font-size: 28px;
  /* font-weight: 600; */
}
.login-form p {
  font-size: 16px;
  /* font-weight: 600; */
  color: #979797;
  line-height: 25px;
}
.login-form input {
  padding: 10px;
  width: -webkit-fill-available;
  background: #f8f8f8;
  margin-bottom: 30px;
  -webkit-appearance: listitem;
  height: 35px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}
#check {
  width: fit-content;
  width: -moz-fit-content;
  color: #868686;
  /* font-weight: 600; */
  position: relative;
  top: 15px;
}
.login-form .btn-color {
  float: right;
  width: 100px;
  top: -34px;
}
.login-form .label-form {
  color: #686868;
  font-size: 18px;
  text-decoration: underline;
}
.login-form-container .btn-color {
  background: #ff2e52 !important;
  color: #ffffff;
}

.community-group h1 {
  font-family: serif !important;
}

.top-community .mat-tab-label {
  //padding: 0 !important;
  cursor: pointer;
  justify-content: end !important;
  align-items: center;
  white-space: nowrap;
  position: relative;
  min-width: 100px;
}

.top-community .mat-tab-label,
.mat-tab-link {
  color: #000000;
  font-size: 18px;
}
.top-community .mat-ink-bar {
  background-color: #ff6600;
}
.top-community .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #ff2d55;
}

.community-card {
  padding: 8px;
  min-width: 150px;
  max-width: 160px;
  max-height: 265px;
  min-height: 210px;
  border: 1px solid #cccccc;
}
.community-card img {
  max-width: -webkit-fill-available;
  width: 100%;
  height: 135px;
}
.community-card h5 {
  margin: 13px 0 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.community-card .members,
.community-card .last-seen,
.members {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

.info-graphics h1,
.taglines h1 {
  font-family: serif;
  /* font-weight: 600; */
  letter-spacing: 3px;
  font-size: 66px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.info-graphics p {
  font-size: 16px;
  line-height: 1.75;
  color: #666666;
}
.info-graphics .btn-color {
  width: 236px;
  height: 48px;
  color: #ffffff;
  font-size: 18px;
  background-image: linear-gradient(to left, #ff2d55 98%, #ff4500 7%);
}

.landing-header {
  font-family: serif;
  font-size: 66px;
  font-weight: 800;
  line-height: 1.06;
  text-align: center;
  color: #000000;
}
.our-moto {
  text-align: center;
}
.our-moto h3 {
  font-size: 24px;
  font-stretch: normal;
}
.our-moto p {
  font-size: 14px;
  color: #888888;
  letter-spacing: 0px;
  line-height: 20px;
}
.our-moto .btn-color {
  width: 240px;
  height: 50px;
  background-image: linear-gradient(to left, #ff2d55 98%, #ff4500 7%);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
}

.footer {
  background: rgba(0, 0, 0, 0.87);
  color: #ffffff;
}
.footer .register-btn {
  width: calc(100% - 250px);
  border: 1px solid #ffffff;
  padding: 16px;
  font-size: 20px;
  text-align: center;
}
.footer li {
  color: #888888;
}
.footer h6 {
  font-size: 16px;
  padding-left: 8px;
  margin-bottom: 10px;
}
.footer ul {
  padding: 0;
  list-style: none !important;
}
.footer .social li {
  float: left;
  margin: 0 8px;
  cursor: pointer;
  color: #ffffff;
}

.social {
  color: #ffffff;
  float: right;
  margin-right: 40px !important;
  margin: 0px;
  font-size: 30px;
}
.latest-activity h3 {
  font-size: 32px;
  line-height: 40px;
  font-family: Serif, sans-serif;
}
.members-list img,
.new-activity img {
  height: 40px;
  padding: 8px;
  border: 1px solid #cccccc;
  width: 40px;
}
.members-list .members {
  color: #999999;
}
.members-list .member-name {
  //margin-top: 8px;
  font-size: 18px;
}
.members-list .display-inline {
  display: inline-block;
  padding: 0 10px;
}
.members-list .mat-list-item {
  height: 90px !important;
}
.members-list .mat-list-item {
  border-bottom: 1px solid #cccccc;
  margin-right: 18px;
}
.members-list .member-name {
  cursor: pointer;
}

.new-activity .mat-list-item {
  height: fit-content !important;
}
.new-activity .display-inline {
  //display: inline-block;
  margin-left: 21px;
  text-transform: capitalize;
  margin-top: 13px;
  position: relative;
  bottom: 14px;
}

.comment {
  font-size: 14px;
  line-height: 20px;
  //font-weight: 500;
  color: #666666;
}
.actions {
  margin-right: 18px;
  color: #827b7b;
}
.actions i {
  margin-right: 8px;
}
.mdl-cell--5 {
  padding: 8px 16px;
}
.hashtags-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }
  .container {
    max-width: calc(100% - 50px);
    padding: 20px;
    margin: 0 auto;
  }
  .qnr-card-wrapper {
    justify-content: center !important;
  }
}

.footer-list_container{
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}
.upside_centered{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.latest-activity h3, .top-community h1{
  margin-bottom: 20px !important;
  font-weight: 600;
  border-left: 3px solid red;
  padding-left: 10px;
  font-family: Serif;
}


@media only screen and (max-width : $mobile-large) and (min-width: $mobile-small) {
  .container{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100% !important;
  }
  .hero-container h5{
    font-size: 12px !important;
  }
  .hero-container .search-wrapper{
    padding: 8px !important;
  }
  .login-wrap{
    margin: 0 !important;
    margin-top: 1em !important;
  }
  .latest-activity .col-md-7{
    padding: 40px;
  }
  .footer-list_container{
    margin: 0 !important;
  }
  .container-footer{
    margin: 0 !important;
    width: 100% !important;
  }
}
