<div class="user-question-wrapper">
    <div class="question-container" [matBadge]="question?.pollQuestionMeta.totalAnswered" matBadgePosition="after"
        matBadgeOverlap="true">
        <a class="question" [ngClass]="mobileView ? 'mobile' : 'desktop'"
            [routerLink]="['/', questionPath, question?.slug]">
            {{question.questionText}}
        </a>
        <!-- <span *ngIf="question?.pollQuestionMeta">&nbsp;{{question?.pollQuestionMeta.totalAnswered}}</span> -->
    </div>
</div>