
<span class="blocks">
  <a href="/home">home</a>
</span>

<span class="blocks">
  <a href="/About">About</a>
</span>

<span class="blocks">
  <a href="/Help-Center">Help Center</a>
</span>

<div>
  <span class="blocks">
    <a href="/Privacy&terms">Privacy Policy</a>
  </span>

  <span class="blocks">
    <a href="/Advertising">Advertising</a>
  </span>
  <span class="blocks">
    <a href="/google-play-store">GET APP</a>
  </span>

</div>

<!--<span class="blocks">-->
<!--    <a href="/Business-service">Business Service</a>-->
<!--  </span>-->
<!--<span class="blocks">-->
<!--  <a href="/google-play-store">GET APP</a>-->
<!--</span>-->

<!--<span class="blocks">-->
<!--  <a href="/more">More</a>-->
<!--</span>-->
<div>
  QuestNR <i>Q</i> QuestNr Corporation <mat-icon style="font-size: 22px">copyright</mat-icon> 2020
</div>
