<div style="text-align: center; font-size: 12px">


<div style="padding: 10px">

<span class="blocks">
  <a href="/About">About</a>
</span>

<span class="blocks">
  <a href="/Help-Center">Help Center</a>
</span>

  <span class="blocks">
    <a href="/Advertising">Advertising</a>
  </span>
</div>

<div style="padding: 10px">
  <span class="blocks">
    <a href="/Privacy&terms">Privacy Policy</a>
  </span>

  <span class="blocks">
    <a href="/Business-service">Business Service</a>
  </span>

  <span class="blocks">
  <a href="/more">More</a>
</span>
</div>
  <div style="padding: 10px; color: rgba(0,0,0,.54); font-size: 10px;">
    QuestNR <i>Q</i> QuestNr Corporation
    <mat-icon style="font-size: 15px; padding: 0; width: fit-content; position: relative; top: 3px;">copyright</mat-icon> 2020
  </div>
</div>



