<app-header></app-header>
<section style="height: 100%; margin-top: 50px">
  <div class="container">
    <div class="center">
      <div  class="bg-container box">
        <div class="title">
          <h5 class="heading">Find Your Account</h5>
          <hr>
        </div>
        <form [formGroup]="group">
          <div class="alert alert-danger" *ngIf="errMsg"> <strong>Error! </strong> {{errMsg }}</div>
          <div>
            <p>Please enter your registered email address.</p>
          </div>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input type="text" matInput [formControl]="email" placeholder="Enter your Email">
          </mat-form-field>

          <button mat-flat-button color="accent" (click)="sendResetLink()" [disabled]="isLoading">
            <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div> &nbsp;
            Forgot
          </button>
          <div class="alert-success alert" *ngIf="successMsg"> <strong>Success! </strong> {{successMsg }}</div>

        </form>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>

