@import "../../../../variables";
@import "../../../../app.component.scss";

.create-community-wrapper {
  .mat-horizontal-stepper-header-container {
    display: flex !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $heading;
  }

  .mat-input-element {
    caret-color: $heading;
  }

  .mat-step-header {
    .mat-step-icon-selected {
      background-color: $accent;
    }

    .mat-step-icon-state-done {
      background-color: $primary;
    }

    .mat-step-icon-state-check {
      background-color: $gray;
    }
  }

  .mat-form-field-label {
    color: $heading;
  }

  .mat-progress-bar-fill::after {
    background-color: $heading;
  }

  .mat-progress-bar-buffer {
    background: $gray;
  }

  .mat-progress-bar {
    border-radius: 2px;
  }
  mat-form-field {
    width: 100%;
  }
  mat-form-field.community-tag-input-control {
    width: 100%;
    padding: 0rem 0.2rem;
    margin-bottom: -20px;
    .mat-form-field-underline {
      display: none;
    }
    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }

  mat-dialog-container {
    padding: 0 !important;
  }
  .mat-dialog-container {
    border-radius: 10px;
    padding: 0px !important;
  }
}

.create-community-wrapper {
  .step-title {
    @extend .center;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .step-title.desktop {
    font-size: 1.1rem;
  }

  .step-title.mobile {
    font-size: 0.9rem;
  }

  .actions {
    display: flex;
    margin-top: 20px;
    .btn-primary {
      color: white;
      background-color: $heading;
    }
    .btn-secondary {
      color: white;
      background-color: $primary;
    }
  }

  .com-img-error {
    @extend .center;
    padding: 10px;
  }
  .com-img-error.mobile {
    text-align: center;
  }
}
.create-community-wrapper.mobile {
  mat-error {
    font-size: 0.8rem;
  }
}

// @media (max-width: 800px) {
//   // Making the modal fullscreen in mobiles
//   ::ng-deep .cdk-overlay-pane {
//     width: 100vw !important;
//   }
// }
.create-community-wrapper {
  .com-img-container {
    position: relative;
    width: 100%;
    max-height: 350px;
    // height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      object-position: top;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 60vw;
      height: auto;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .com-img-container button:hover {
    opacity: 1;
    background: $heading;
    color: $text-white;
  }
}

.create-community-wrapper {
  .community-tag-container {
    .community-tag-input-control {
      width: 100%;
    }
    .tag-list-wrapper {
      // position: relative;
      display: flex;
      margin: 0.2rem;
      padding: 0.2rem;
      .tag-container {
        display: flex;
        align-items: center;
        margin: 0.3rem;
        background-color: $link-primary;
        color: white;
        justify-content: space-between;
        border: 2px solid $link-secondary;
        border-radius: 4px;
        .tag {
          padding: 4px;
        }
        .remove {
          cursor: pointer;
          display: flex;
          align-items: center;
          mat-icon {
            display: flex;
            align-items: center;
          }
        }
      }
      .tag-container.desktop {
        padding: 0.2rem;
        .remove {
          mat-icon {
            font-size: 21px;
          }
        }
      }
      .tag-container.mobile {
        padding: 0.1rem;
        .tag {
          font-size: 0.8rem;
        }
        .remove {
          mat-icon {
            font-size: 20px;
          }
        }
      }
    }

    .filter-wrapper,
    .keyword-wrapper {
      display: flex;
      justify-content: center;
    }
    .filter-wrapper {
      margin-top: 10px;
      // height: 30vh;
      position: relative;
    }
    .keyword-wrapper {
      width: 100%;
      position: relative;
      flex-direction: column;
    }
    .filter-select {
      width: 100%;
      //   list-style: none;
      font-size: 1.1em;
      color: $gray-font;
      border: 1px solid $link-primary;
      border-top: none;
      /*so things don't jump around*/
      position: absolute;
      //   left: 25%;
      //   top: calc(50% + 25px);
      top: 0;
      overflow-y: auto;
      background: $white;
      opacity: 0.9;
      z-index: 100;
    }

    .filter-select-wrapper {
      position: relative;
    }

    .filter-select.desktop {
      // height: 60%;
      max-height: 15vh;
      .filter-select-list {
      }
    }

    .filter-select.mobile {
      // height: 60%;
      max-height: 15vh;
      .filter-select-list {
      }
    }

    .filter-select-list {
      cursor: pointer;
      padding: 7px 12px;
      font-size: 0.9rem;
    }

    .user-interest {
      display: inline-block;
      //   position: absolute;
    }
    .filter-select-list:hover {
      background: $primary;
      color: $white;
    }
  }
}
