@import "./src/app/variables";

.ask-question-wrapper {
  .mat-horizontal-stepper-header-container {
    display: flex !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $heading;
  }

  .mat-input-element {
    caret-color: $heading;
  }

  .mat-step-header {
    .mat-step-icon-selected {
      background-color: $accent;
    }

    .mat-step-icon-state-done {
      background-color: $primary;
    }

    .mat-step-icon-state-check {
      background-color: $grey;
    }
  }

  .mat-form-field-label {
    color: $heading;
  }

  .mat-progress-bar-fill::after {
    background-color: $heading;
  }

  .mat-progress-bar-buffer {
    background: $grey;
  }

  .mat-progress-bar {
    border-radius: 2px;
  }
}

#questionText {
  mat-form-field {
    width: 100% !important;
  }
}

#answerOptions .col-md-6 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.actions {
  width: fit-content;
  margin: 0 auto;
}

.success {
  display: block;

  div {
    width: 120px;
    height: 120px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  p {
    margin-top: 10px;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  -webkit-animation: blink 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: blink 1s;
  -moz-animation-iteration-count: infinite;
  -o-animation: blink 1s;
  -o-animation-iteration-count: infinite;
}
