/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: #eeeeee }


.logo {
  font-weight: 900;
  font-size: 22px;

}
.com {
  font-size: 14px;
  color: rgb(218, 218, 218);
}

.spacer{
  width: 200px;
  flex: 1;
}
mat-icon{
  padding: 0 20px;
  cursor: pointer;
  font-size: 8px;
  color: rgba(0, 0, 0, 0.31);
}
.active{
  color:  rgb(255, 46, 82)
}
mat-icon:hover{
  color:  rgb(255, 46, 82);
}

.header-icon div{
  font-size: 10px;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  color: #827b7b;
}
.no_selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.viewport{
  position: relative;
  top :70px;
  margin: 0 auto;
  width: calc(100% - 50px);
}
.gapper{
  padding: 10px;
}
.margins{
  margin: 8px 0px;
}
.mat-card {
  ////background: #ffffff ;
  //color: #000000;
}
.mat-grid-tile .mat-figure{
  display: block !important;
}
.mdl-grid{
  display: flex;
  padding: 8px;
  margin: 0 auto;
}
.mdl-cell--2{
  width: 20%;
  display: inline-block;
}
.mdl-cell--1{
  width: 10%;
  display: inline-block;
}
.mdl-cell--9{
  width: 90%;
  display: inline-block;
}
.mdl-cell--4{
  display: inline-block;
  width: 60%;
}
.mdl-cell{
  display: inline-block;
  width: 100%;
}
.mat-list-item {
  color: #000000 !important;
}
.mat-divider {
  border-top-color: #eeeeee;
}
.right-border{
  border: 1px solid #eeeeee;
}
.center-text{
  text-align: center;
  color: #eeeeee;
}

.user-logo{
  width: 60px !important;
  height: 60px !important;
}
.user-logo img{
  width: inherit;
  border-radius: 50%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.post-card mat-card-title{
  font-size: 14px !important;
  margin-bottom: 8px;
}
.post-card mat-card-subtitle{
  font-size: 12px !important;
}
.post-content-container{
  width: 100%;
  height: 300px;
}

.post-card .mat-icon{
  font-size: 18px !important;
  padding-right: 4px;
}
.post-card .actions{
  position: relative;
  top: -4px;
  cursor: pointer;
}
.post-card {
  font-size: 14px;
}
.post-card .mat-icon:hover {
  color: #797259;
}
