@import "../variables";

.wrapper {
    padding: 10px;
    height: 100%;
    overflow: hidden;
    .title {
        color: $heading;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 10px 0.6rem 10px;
        display: flex;
        justify-content: space-between;
    }
    .hr {
        border-bottom: 1px solid $gray;
        margin-bottom: 0.6rem;
    }
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .load-more {
        padding: 10px;
        span {
            cursor: pointer;
            color: $link-primary;
            text-decoration: underline;
        }
    }
    .no-more {
        display: flex;
        justify-content: center;
    }
    .tab-component {
        overflow: hidden;
        .searched-list {
            overflow-y: scroll;
            /* padding-bottom: 40px; */
            .no-a {
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }
        }
        .searched-list.desktop {
            height: 45vh;
        }
        .searched-list.mobile {
            height: calc(90vh - 50px);
        }
    }

    .close-icon {
        color: $primary;
        cursor: pointer;
    }
    mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $heading !important;
    }
}

.hash-tag {
    display: flex;
    justify-content: flex-start;
    color: $link-primary;
    padding: 10px;
    font-size: 1.1rem;
    .hash-tag-symbol {
        margin-right: 10px;
        border-radius: 50%;
        background-color: $link-secondary;
        padding: 2px 7px;
        border: 1px solid $black;
        color: $black;
    }
}

.search-menu {
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem 0 0.5rem;
    margin: 0.5rem;
    border-bottom: 0.09rem solid #e3e3e3;
    overflow: hidden;

    .search-option-list {
        .search-option {
            border: 0.09rem solid $primary;
            border-radius: 0.3rem;
            padding: 0.1rem 0.2rem;
            margin: 0.3rem;

            span {
                font-size: 0.7rem;
                padding: 0rem 0.3rem;
            }
        }

        .search-option:hover {
            background-color: $primary;
            color: $white;
            cursor: pointer;
        }

        .selected {
            background-color: $primary;
            color: $white;
        }
    }
}

.close-icon {
    color: $primary;
    cursor: pointer;
}

.no-data {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
    span {
        font-size: 1.2rem;
        font-weight: bold;
        color: $heading;
    }
}

.total-elements {
    color: $heading;
    font-weight: bold;
    font-size: 0.9rem;
}
