<StackLayout>
  <Label text="OtpVerificationComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div class="wrapper">
    <div *ngIf="!hasOTPBeenSent">
        <button class="btn-primary w-100" (click)="sendOTP($event)">
            <app-loader [size]="'sm'" *ngIf="isSendingOTP"></app-loader> &nbsp;
            Send OTP
        </button>
    </div>
    <div *ngIf="hasOTPBeenSent" class="input-container">
        <div>
            <mat-form-field appearance="fill">
                <input type="text" matInput [formControl]='otp' placeholder="Enter OTP" style="width: 200px">
                <mat-error *ngIf="otp.hasError('required')">Please provide OTP</mat-error>
            </mat-form-field>
        </div>
        <div class="otp-action-btn-column">
            <button class="btn-action w-100" [ngClass]="{'disabled': !canResend }" (click)="resendOTP($event)"
                [disabled]="!canResend">
                <app-loader [size]="'sm'" *ngIf="isResendingOTP"></app-loader> &nbsp;
                Resend OTP <span *ngIf="!canResend">{{timeToEnableResend}}</span>
            </button>
            <button class="btn-action w-100" (click)="verifyOTP($event)">
                <app-loader [size]="'sm'" *ngIf="isVerifying"></app-loader> &nbsp;
                Verify
            </button>
        </div>
    </div>
</div>
-->