<!--<div class="box">-->
<!--  <div class="head-wrap">-->
<!--    <div class="profile-icon">-->
<!--      <ngx-skeleton-loader count="1" appearance="circle"> </ngx-skeleton-loader>-->
<!--    </div>-->
<!--    <div class="profile-detail w-100">-->
<!--      <div class="w-50">-->
<!--        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>-->
<!--      </div>-->
<!--      <div class="w-25">-->
<!--        <ngx-skeleton-loader count="1" appearance="box"> </ngx-skeleton-loader>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="user-loading-container">
  <div class="user-flex"  style="overflow: hidden" >
    <div class="user_image skeleton-box">
<!--      <ngx-skeleton-loader count="1" appearance="circle"> </ngx-skeleton-loader>-->
    </div>
    <div class="user_details skeleton-box">
<!--      <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>-->
      <div class="media-box" style="width: 60%"></div>
    </div>
    <div class="action-btn">
<!--      <ngx-skeleton-loader count="1" appearance=""> </ngx-skeleton-loader>-->
      <div class="skeleton-box media-box">

      </div>
    </div>
  </div>
</div>
